Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2021-03, with the labels that each got.

#738 Optimized RavenDB HealthChecks
  src/HealthChecks.RavenDB/RavenDBHealthCheck.cs
  test/FunctionalTests/HealthChecks.RavenDB/RavenDBWithSingleConnectionStringHealthCheckTests.cs
Labels: enhancement

#736 Bump SSH.NET version to 2020.0.1
  build/dependencies.props
Labels: bug, enhancement

#648 Implement healthchecks for cosmosdb collections
  src/HealthChecks.CosmosDb/CosmosDbHealthCheck.cs
  src/HealthChecks.CosmosDb/DependencyInjection/CosmosDbHealthCheckBuilderExtensions.cs
  test/UnitTests/DependencyInjection/CosmosDb/CosmosDbUnitTests.cs
Labels: in-progress
