Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2022-10, with the labels that each got.

#1473 Provides ability to use different ctors for AmazonCloudWatchClient
  src/HealthChecks.Publisher.CloudWatch/CloudWatchOptions.cs
  src/HealthChecks.Publisher.CloudWatch/CloudWatchPublisher.cs
  src/HealthChecks.Publisher.CloudWatch/DependencyInjection/CloudWatchHealthCheckBuilderExtensions.cs
  test/HealthChecks.Publisher.CloudWatch.Tests/HealthChecks.Publisher.CloudWatch.approved.txt
Labels: enhancement

#1419 [CosmosDbHealthCheck] Add registration overloads that accept a CosmosClient instance
  build/dependencies.props
  src/HealthChecks.CosmosDb/CosmosDbHealthCheck.cs
  src/HealthChecks.CosmosDb/DependencyInjection/CosmosDbHealthCheckBuilderExtensions.cs
  test/HealthChecks.CosmosDb.Tests/DependencyInjection/CosmosDbRegistrationTests.cs
  test/HealthChecks.CosmosDb.Tests/HealthChecks.CosmosDb.approved.txt
Labels: enhancement

#1498 Remove unused dependencies from HealthChecks.AzureKeyVault
  src/HealthChecks.AzureKeyVault/HealthChecks.AzureKeyVault.csproj
Labels: dependencies

#1490 EventStore gRPC
  .env
  .github/workflows/healthchecks_eventstore_grpc_cd.yml
  .github/workflows/healthchecks_eventstore_grpc_cd_preview.yml
  .github/workflows/healthchecks_eventstore_grpc_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build/dependencies.props
  docker-compose.yml
  src/HealthChecks.EventStore.gRPC/DependencyInjection/EventStoreHealthCheckBuilderExtensions.cs
  src/HealthChecks.EventStore.gRPC/EventStoreHealthCheck.cs
  src/HealthChecks.EventStore.gRPC/HealthChecks.EventStore.gRPC.csproj
  test/HealthChecks.EventStore.gRPC.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.EventStore.gRPC.Tests/Functional/EventStoreHealthCheckTests.cs
  test/HealthChecks.EventStore.gRPC.Tests/HealthChecks.EventStore.gRPC.Tests.csproj
  test/HealthChecks.EventStore.gRPC.Tests/HealthChecks.EventStore.gRPC.approved.txt
Labels: enhancement

#1501 Fixed a copy error
  src/HealthChecks.ApplicationStatus/README.md
Labels: docs

#1500 EventStore CI/CD & bug fixes
  .github/workflows/healthchecks_eventstore_cd.yml
  .github/workflows/healthchecks_eventstore_cd_preview.yml
  .github/workflows/healthchecks_eventstore_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.EventStore/EventStoreHealthCheck.cs
  src/HealthChecks.EventStore/HealthChecks.EventStore.csproj
  test/HealthChecks.EventStore.Tests/Functional/EventStoreHealthCheckTests.cs
Labels: github_actions

#1502 Feature/eventstore cicd
  .github/workflows/healthchecks_eventstore_ci.yml
Labels: github_actions

#988 Generate ci cd for eventstore
  .github/workflows/healthchecks_eventstore_cd.yml
  .github/workflows/healthchecks_eventstore_cd_preview.yml
  .github/workflows/healthchecks_eventstore_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.EventStore/EventStoreHealthCheck.cs
  src/HealthChecks.EventStore/HealthChecks.EventStore.csproj
  test/HealthChecks.EventStore.Tests/Functional/EventStoreHealthCheckTests.cs
Labels: enhancement, github_actions

#1504 Moving QueueHealth and SubscriptionHealth to use PeekMessagesAsync
  src/HealthChecks.AzureServiceBus/AzureServiceBusHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusSubscriptionHealthCheck.cs
  test/HealthChecks.AzureServiceBus.Tests/HealthChecks.AzureServiceBus.approved.txt
Labels: enhancement

#1515 Added EventStore to Build status overview
  README.md
Labels: docs
