Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2022-06, with the labels that each got.

#1128 Aws Systems Manager support
  .github/workflows/healthchecks_aws_systemsmanager_cd.yml
  .github/workflows/healthchecks_aws_systemsmanager_cd_preview.yml
  .github/workflows/healthchecks_aws_systemsmanager_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build.ps1
  build/dependencies.props
  src/HealthChecks.Aws.SystemsManager/DependencyInjection/SystemsHealthCheckBuilderExtensions.cs
  src/HealthChecks.Aws.SystemsManager/HealthChecks.Aws.SystemsManager.csproj
  src/HealthChecks.Aws.SystemsManager/README.md
  src/HealthChecks.Aws.SystemsManager/SystemsManagerHealthCheck.cs
  src/HealthChecks.Aws.SystemsManager/SystemsManagerOptions.cs
  test/HealthChecks.Aws.SystemsManager.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Aws.SystemsManager.Tests/HealthChecks.Aws.SystemsManager.Tests.csproj
  test/HealthChecks.Aws.SystemsManager.Tests/HealthChecks.Aws.SystemsManager.approved.txt
Labels: enhancement

#1217 Fix for memory leak in NATS
  samples/HealthChecks.UI.Branding/Startup.cs
  src/HealthChecks.Nats/DependencyInjection/NatsHealthCheckBuilderExtensions.cs
  src/HealthChecks.Nats/NatsHealthCheck.cs
Labels: bugfix

#1246 Bump Google.Cloud.Firestore
  src/HealthChecks.Gcp.CloudFirestore/HealthChecks.Gcp.CloudFirestore.csproj
Labels: dependencies, .NET

#1273 Use specific overloads with cancellation token
  src/HealthChecks.Network/DnsResolveHealthCheck.cs
  src/HealthChecks.Network/DnsResolveHostCountHealthCheck.cs
  src/HealthChecks.Network/SslHealthCheck.cs
  src/HealthChecks.Network/TcpHealthCheck.cs
Labels: enhancement

#1299 AWS SQS Health check
  .github/workflows/healthchecks_aws_sqs_cd.yml
  .github/workflows/healthchecks_aws_sqs_cd_preview.yml
  .github/workflows/healthchecks_aws_sqs_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build.ps1
  build/dependencies.props
  src/HealthChecks.Aws.Sqs/DependencyInjection/SqsHealthCheckBuilderExtensions.cs
  src/HealthChecks.Aws.Sqs/HealthChecks.Aws.Sqs.csproj
  src/HealthChecks.Aws.Sqs/README.md
  src/HealthChecks.Aws.Sqs/SqsHealthCheck.cs
  src/HealthChecks.Aws.Sqs/SqsOptions.cs
  test/HealthChecks.Aws.Sqs.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Aws.Sqs.Tests/HealthChecks.Aws.Sqs.Tests.csproj
  test/HealthChecks.Aws.Sqs.Tests/HealthChecks.Aws.Sqs.approved.txt
Labels: enhancement

#1304 Fix seq trailing slash, respect cancellation token, make SeqOptions.ApiKey nullable
  src/HealthChecks.Publisher.Seq/SeqOptions.cs
  src/HealthChecks.Publisher.Seq/SeqPublisher.cs
  test/HealthChecks.Publisher.Seq.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.Seq.Tests/Functional/SeqPublisherTests.cs
  test/HealthChecks.Publisher.Seq.Tests/HealthChecks.Publisher.Seq.approved.txt
Labels: bugfix
