Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2022-05, with the labels that each got.

#1161 Documentation: Correction on initial demo namespace
  doc/k8s-operator.md
Labels: docs

#1126 Aws secrets manager
  .github/workflows/healthchecks_aws_secretsmanager_cd.yml
  .github/workflows/healthchecks_aws_secretsmanager_cd_preview.yml
  .github/workflows/healthchecks_aws_secretsmanager_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  build.ps1
  build/dependencies.props
  src/HealthChecks.Aws.SecretsManager/DependencyInjection/SecretsManagerHealthCheckBuilderExtensions.cs
  src/HealthChecks.Aws.SecretsManager/HealthChecks.Aws.SecretsManager.csproj
  src/HealthChecks.Aws.SecretsManager/README.md
  src/HealthChecks.Aws.SecretsManager/SecretsManagerHealthCheck.cs
  src/HealthChecks.Aws.SecretsManager/SecretsManagerOptions.cs
  test/HealthChecks.Aws.SecretsManager.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Aws.SecretsManager.Tests/HealthChecks.Aws.SecretsManager.Tests.csproj
  test/HealthChecks.Aws.SecretsManager.Tests/HealthChecks.Aws.SecretsManager.approved.txt
Labels: enhancement

#1124 Support basic auth of the endpoint uri in GetHealthReportAsync
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
Labels: enhancement

#1153 Add livenessName to notification callback functions
  doc/webhooks.md
  samples/HealthChecks.UI.Branding/Startup.cs
  src/HealthChecks.UI/Configuration/Settings.cs
  src/HealthChecks.UI/Core/Notifications/WebHookFailureNotifier.cs
Labels: enhancement, UI
