Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2022-02, with the labels that each got.

#906 Added support for using IServiceProvider when configuring Redis check
  src/HealthChecks.Redis/DependencyInjection/RedisHealthCheckBuilderExtensions.cs
  test/HealthChecks.Redis.Tests/DependencyInjection/RegistrationTests.cs
Labels: enhancement

#861 Update README.md
  README.md
Labels: docs

#867 Close IModel in RabbitMQHealthCheck
  .github/workflows/healthchecks_ibmmq_cd.yml
  .github/workflows/healthchecks_ibmmq_cd_preview.yml
  .github/workflows/healthchecks_ibmmq_ci.yml
  .github/workflows/healthchecks_oracle_cd.yml
  .github/workflows/healthchecks_oracle_cd_preview.yml
  .github/workflows/healthchecks_oracle_ci.yml
  .github/workflows/healthchecks_rabbitmq_cd.yml
  .github/workflows/healthchecks_rabbitmq_cd_preview.yml
  .github/workflows/healthchecks_rabbitmq_ci.yml
  .github/workflows/healthchecks_redis_cd.yml
  .github/workflows/healthchecks_redis_ci.yml
  .github/workflows/healthchecks_solr_cd.yml
  .github/workflows/healthchecks_solr_cd_preview.yml
  .github/workflows/healthchecks_sqlserver_cd_preview.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.Rabbitmq/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
  test/HealthChecks.RabbitMQ.Tests/DependencyInjection/RegistrationTests.cs
Labels: enhancement

#910 Added support for using IServiceProvider when configuring Postgresql …
  src/HealthChecks.NpgSql/DependencyInjection/NpgSqlHealthCheckBuilderExtensions.cs
  test/HealthChecks.Npgsql.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Npgsql.Tests/Functional/NpgsqlHealthCheckTests.cs
Labels: enhancement

#912 NRT for RabbitMQ
  src/HealthChecks.Rabbitmq/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.Rabbitmq/HealthChecks.Rabbitmq.csproj
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
Labels: enhancement

#916 Add dotnet-format to CI
  .github/workflows/healthchecks_arangodb_cd.yml
  .github/workflows/healthchecks_arangodb_cd_preview.yml
  .github/workflows/healthchecks_arangodb_ci.yml
  .github/workflows/healthchecks_ravendb_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.ArangoDb/ArangoDbHealthCheck.cs
  src/HealthChecks.ArangoDb/ArangoDbOptions.cs
  src/HealthChecks.ArangoDb/DependencyInjection/ArangoDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.ArangoDb/README.md
Labels: github_actions, code style

#918 Fix cs moniker
  src/HealthChecks.Aws.S3/README.md
  src/HealthChecks.Azure.IoTHub/README.md
  src/HealthChecks.AzureKeyVault/README.md
  src/HealthChecks.IbmMQ/README.md
  src/HealthChecks.Rabbitmq/README.md
Labels: docs, code style

#925 Trigger CI on changes in directory.Build.props/targets
  .github/workflows/healthchecks_arangodb_ci.yml
  .github/workflows/healthchecks_aws_s3_ci.yml
  .github/workflows/healthchecks_azure_iothub_ci.yml
  .github/workflows/healthchecks_azurekeyvault_ci.yml
  .github/workflows/healthchecks_azureservicebus_ci.yml
  .github/workflows/healthchecks_azurestorage_ci.yml
  .github/workflows/healthchecks_consul_ci.yml
  .github/workflows/healthchecks_cosmosdb_ci.yml
  .github/workflows/healthchecks_documentdb_ci.yml
  .github/workflows/healthchecks_dynamodb_ci.yml
  .github/workflows/healthchecks_elasticsearch_ci.yml
  .github/workflows/healthchecks_gcp_cloudfirestore_ci.yml
  .github/workflows/healthchecks_gremlin_ci.yml
  .github/workflows/healthchecks_hangfire_ci.yml
  .github/workflows/healthchecks_ibmmq_ci.yml
  .github/workflows/healthchecks_kafka_ci.yml
  .github/workflows/healthchecks_mongodb_ci.yml
  .github/workflows/healthchecks_mysql_ci.yml
  .github/workflows/healthchecks_network_ci.yml
  .github/workflows/healthchecks_npgsql_ci.yml
  .github/workflows/healthchecks_openidconnectserver_ci.yml
  .github/workflows/healthchecks_oracle_ci.yml
  .github/workflows/healthchecks_prometheus_metrics_ci.yml
  .github/workflows/healthchecks_publisher_applicationinsights_ci.yml
  .github/workflows/healthchecks_publisher_datadog_ci.yml
  .github/workflows/healthchecks_publisher_prometheus_ci.yml
  .github/workflows/healthchecks_publisher_seq_ci.yml
  .github/workflows/healthchecks_rabbitmq_ci.yml
  .github/workflows/healthchecks_ravendb_ci.yml
  .github/workflows/healthchecks_redis_ci.yml
  .github/workflows/healthchecks_sendgrid_ci.yml
  .github/workflows/healthchecks_signalr_ci.yml
  .github/workflows/healthchecks_solr_ci.yml
  .github/workflows/healthchecks_sqlite_ci.yml
  .github/workflows/healthchecks_sqlserver_ci.yml
  .github/workflows/healthchecks_system_ci.yml
  .github/workflows/healthchecks_ui_ci.yml
  .github/workflows/healthchecks_uris_ci.yml
Labels: github_actions

#806 Allow AzureBlobHealthCheck to work with "Storage Blob Data Contributor"
  src/HealthChecks.AzureStorage/AzureBlobStorageHealthCheck.cs
Labels: enhancement

#923 Edit README
  README.md
  src/HealthChecks.Publisher.Prometheus/DependencyInjection/PrometheusGatewayHealthCheckBuilderExtensions.cs
Labels: docs

#937 Add nullable annotations for Elasticsearch/EventStore/CloudFirestore/Gremlin
  src/HealthChecks.Elasticsearch/DependencyInjection/ElasticsearchHealthCheckBuilderExtensions.cs
  src/HealthChecks.Elasticsearch/ElasticsearchHealthCheck.cs
  src/HealthChecks.Elasticsearch/ElasticsearchOptions.cs
  src/HealthChecks.Elasticsearch/HealthChecks.Elasticsearch.csproj
  src/HealthChecks.EventStore/DependencyInjection/EventStoreHealthCheckBuilderExtensions.cs
  src/HealthChecks.EventStore/EventStoreHealthCheck.cs
  src/HealthChecks.EventStore/HealthChecks.EventStore.csproj
  src/HealthChecks.Gcp.CloudFirestore/CloudFirestoreOptions.cs
  src/HealthChecks.Gcp.CloudFirestore/DependencyInjection/CloudFirestoreHealthCheckBuilderExtensions.cs
  src/HealthChecks.Gcp.CloudFirestore/HealthChecks.Gcp.CloudFirestore.csproj
  src/HealthChecks.Gremlin/DependencyInjection/GremlinHealthCheckBuilderExtensions.cs
  src/HealthChecks.Gremlin/GremlinOptions.cs
  src/HealthChecks.Gremlin/HealthChecks.Gremlin.csproj
Labels: enhancement

#942 Add nullable annotations for Hangfire/IbmMQ/Kubernetes/MongoDb/MySql
  src/HealthChecks.Hangfire/DependencyInjection/HangfireHealthCheckBuilderExtensions.cs
  src/HealthChecks.Hangfire/HangfireOptions.cs
  src/HealthChecks.Hangfire/HealthChecks.Hangfire.csproj
  src/HealthChecks.IbmMQ/DependencyInjection/IbmMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.IbmMQ/HealthChecks.IbmMQ.csproj
  src/HealthChecks.Kubernetes/DependencyInjection/KubernetesHealthCheckBuilderExtensions.cs
  src/HealthChecks.Kubernetes/Extensions/KubernetesChecksTaskExtensions.cs
  src/HealthChecks.Kubernetes/HealthChecks.Kubernetes.csproj
  src/HealthChecks.Kubernetes/KubernetesChecksExecutor.cs
  src/HealthChecks.Kubernetes/KubernetesHealthCheck.cs
  src/HealthChecks.Kubernetes/KubernetesHealthCheckBuilder.cs
  src/HealthChecks.Kubernetes/KubernetesHealthCheckOptions.cs
  src/HealthChecks.Kubernetes/KubernetesResourceCheck.cs
  src/HealthChecks.MongoDb/DependencyInjection/MongoDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.MongoDb/HealthChecks.MongoDb.csproj
  src/HealthChecks.MongoDb/MongoDbHealthCheck.cs
  src/HealthChecks.MySql/DependencyInjection/MySqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.MySql/HealthChecks.MySql.csproj
  test/UnitTests/DependencyInjection/Kubernetes/KubernetesUnitTests.cs
Labels: enhancement

#953 Fix broken SourceLink
  Directory.Build.props
  src/HealthChecks.AzureServiceBus/DependencyInjection/AzureServiceBusHealthCheckBuilderExtensions.cs
  src/HealthChecks.AzureStorage/DependencyInjection/AzureStorageHealthCheckBuilderExtensions.cs
  src/HealthChecks.Consul/DependencyInjection/ConsulHealthCheckBuilderExtensions.cs
  src/HealthChecks.MongoDb/DependencyInjection/MongoDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.NpgSql/DependencyInjection/NpgSqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.Rabbitmq/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.Redis/DependencyInjection/RedisHealthCheckBuilderExtensions.cs
  src/HealthChecks.Solr/DependencyInjection/SolrHealthCheckBuilderExtensions.cs
  src/HealthChecks.System/DependencyInjection/SystemHealthCheckBuilderExtensions.cs
Labels: bugfix

#959 Memory optimizations
  src/HealthCheckResultTask.cs
  src/HealthChecks.Consul/ConsulHealthCheck.cs
  src/HealthChecks.Hangfire/HangfireHealthCheck.cs
  src/HealthChecks.Hangfire/HealthChecks.Hangfire.csproj
  src/HealthChecks.IbmMQ/HealthChecks.IbmMQ.csproj
  src/HealthChecks.IbmMQ/IbmMQHealthCheck.cs
  src/HealthChecks.Kafka/KafkaHealthCheck.cs
  src/HealthChecks.MySql/MySqlHealthCheck.cs
  src/HealthChecks.Network/DnsResolveHostCountHealthCheck.cs
  src/HealthChecks.Network/HealthChecks.Network.csproj
  src/HealthChecks.Network/SftpConfiguration.cs
  src/HealthChecks.Network/SftpHealthCheck.cs
  src/HealthChecks.Rabbitmq/HealthChecks.Rabbitmq.csproj
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
  src/HealthChecks.Redis/RedisHealthCheck.cs
  src/HealthChecks.System/DiskStorageHealthCheck.cs
  src/HealthChecks.System/HealthChecks.System.csproj
  src/HealthChecks.System/MaximumValueHealthCheck.cs
  src/HealthChecks.System/ProcessHealthCheck.cs
  src/HealthChecks.System/WindowsServiceHealthCheck.cs
  src/HealthChecks.UI/Middleware/UIApiEndpointMiddleware.cs
Labels: enhancement

#943 Optimize UIResponseWriter
  .github/workflows/healthchecks_ui_ci.yml
  src/HealthChecks.UI.Client/UIResponseWriter.cs
  src/HealthChecks.UI.Core/UIHealthReport.cs
Labels: enhancement, github_actions
