Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2022-12, with the labels that each got.

#1575 Add labeler
  .github/labeler.yml
  .github/workflows/label.yml
  AspNetCore.Diagnostics.HealthChecks.sln
Labels: github_actions

#1576 Try labeler
  doc/styles-branding.md
  src/HealthChecks.ArangoDb/ArangoDbOptions.cs
  src/HealthChecks.UI/Configuration/Settings.cs
Labels: UI, docs, arrango-db

#1577 Add Elasticsearch Cluster Health Check
  src/HealthChecks.Elasticsearch/ElasticsearchHealthCheck.cs
  src/HealthChecks.Elasticsearch/ElasticsearchOptions.cs
  test/HealthChecks.Elasticsearch.Tests/HealthChecks.Elasticsearch.approved.txt
Labels: enhancement

#1584 Add Roslynator
  .editorconfig
  Directory.Build.props
  src/HealthChecks.Gcp.CloudFirestore/CloudFirestoreHealthCheck.cs
  src/HealthChecks.Network/DependencyInjection/NetworkHealthCheckBuilderExtensions.cs
  src/HealthChecks.Network/SftpConfiguration.cs
  src/HealthChecks.UI/Core/Discovery/K8S/Extensions/IKubernetesExtensions.cs
  src/HealthChecks.UI/Core/Extensions/UIResourceExtensions.cs
  src/HealthChecks.UI/Core/Notifications/WebHookFailureNotifier.cs
  test/ApiApprovalTests.cs
  test/HealthChecks.System.Tests/DependencyInjection/RegistrationTests.cs
Labels: UI, code style, test

#1598 Fix labeler
  .github/labeler.yml
Labels: github_actions, test, kafka

#1581 Add functionality to hide exceptions from health check response
  .github/workflows/healthchecks_ui_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.UI.Client/UIResponseWriter.cs
  src/HealthChecks.UI.Core/UIHealthReport.cs
  test/HealthChecks.UI.Client.Tests/HealthChecks.UI.Client.Tests.csproj
  test/HealthChecks.UI.Client.Tests/UIResponseWriterTests.cs
  test/HealthChecks.UI.Core.Tests/HealthChecks.UI.Core.Tests.csproj
  test/HealthChecks.UI.Core.Tests/UIHealthReportTests.cs
Labels: enhancement, UI

#704 InfluxDB Health Check
  .github/workflows/healthchecks_influxdb_cd.yml
  .github/workflows/healthchecks_influxdb_cd_preview.yml
  .github/workflows/healthchecks_influxdb_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  docker-compose.yml
  src/HealthChecks.InfluxDB/DependencyInjection/InfluxDBHealthCheckBuilderExtensions.cs
  src/HealthChecks.InfluxDB/HealthChecks.InfluxDB.csproj
  src/HealthChecks.InfluxDB/InfluxDBHealthCheck.cs
  src/HealthChecks.InfluxDB/README.md
  test/HealthChecks.InfluxDB.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.InfluxDB.Tests/Functional/InfluxDBHealthCheckTests.cs
  test/HealthChecks.InfluxDB.Tests/HealthChecks.InfluxDB.Tests.csproj
  test/HealthChecks.InfluxDB.Tests/HealthChecks.InfluxDB.approved.txt
Labels: enhancement

#1592 Unify database health checks
  .github/labeler.yml
  src/HealthChecks.Consul/ConsulHealthCheck.cs
  src/HealthChecks.MySql/DependencyInjection/MySqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.MySql/MySqlHealthCheck.cs
  src/HealthChecks.NpgSql/DependencyInjection/NpgSqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.NpgSql/NpgSqlHealthCheck.cs
  src/HealthChecks.NpgSql/NpgSqlHealthCheckOptions.cs
  src/HealthChecks.Oracle/DependencyInjection/OracleHealthCheckBuilderExtensions.cs
  src/HealthChecks.Oracle/OracleHealthCheck.cs
  src/HealthChecks.Oracle/OracleHealthCheckOptions.cs
  src/HealthChecks.SqlServer/DependencyInjection/SqlServerHealthCheckBuilderExtensions.cs
  src/HealthChecks.SqlServer/SqlServerHealthCheck.cs
  src/HealthChecks.SqlServer/SqlServerHealthCheckOptions.cs
  src/HealthChecks.Sqlite/DependencyInjection/SqliteHealthCheckBuilderExtensions.cs
  src/HealthChecks.Sqlite/SqliteHealthCheck.cs
  src/HealthChecks.Sqlite/SqliteHealthCheckOptions.cs
  test/HealthChecks.Npgsql.Tests/HealthChecks.NpgSql.approved.txt
  test/HealthChecks.Oracle.Tests/HealthChecks.Oracle.approved.txt
  test/HealthChecks.SqlServer.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.SqlServer.Tests/HealthChecks.SqlServer.approved.txt
  test/HealthChecks.Sqlite.Tests/HealthChecks.Sqlite.approved.txt
Labels: enhancement, breaking-change

#1603 Add code coverage
  .github/codecov.yml
  .github/labeler.yml
  .github/workflows/healthchecks_rabbitmq_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
Labels: github_actions, test

#1604 More coverage
  .github/workflows/healthchecks_ravendb_ci.yml
  .github/workflows/healthchecks_redis_ci.yml
Labels: github_actions, test

#1605 File-scoped namespaces for RabbitMQ, RavenDb, Redis
  src/HealthChecks.Rabbitmq/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
  src/HealthChecks.RavenDB/DependencyInjection/RavenDBHealthCheckBuilderExtensions.cs
  src/HealthChecks.RavenDB/RavenDBHealthCheck.cs
  src/HealthChecks.RavenDB/RavenDBOptions.cs
  src/HealthChecks.Redis/DependencyInjection/RedisHealthCheckBuilderExtensions.cs
  src/HealthChecks.Redis/RedisHealthCheck.cs
Labels: test, rabbitmq, ravendb, redis

#1480 feat(Publisher.ApplicationInsights): add connection string support
  src/HealthChecks.Publisher.ApplicationInsights/ApplicationInsightsPublisher.cs
  src/HealthChecks.Publisher.ApplicationInsights/DependencyInjection/ApplicationInsightsHealthCheckBuilderExtensions.cs
  test/HealthChecks.Publisher.ApplicationInsights.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.ApplicationInsights.Tests/HealthChecks.Publisher.ApplicationInsights.approved.txt
Labels: hacktoberfest-accepted

#1608 Updated Shouldly documentation link
  test/ApiApprovalTests.cs
Labels: test
