Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2022-08, with the labels that each got.

#1379 Bump Microsoft.Data.SqlClient from 3.0.1 to 5.0.0
  src/HealthChecks.SqlServer/HealthChecks.SqlServer.csproj
  test/HealthChecks.SqlServer.Tests/Functional/SqlServerHealthCheckTests.cs
Labels: dependencies

#1380 Convert some projects to file-scoped namespaces
  src/HealthChecks.ArangoDb/ArangoDbHealthCheck.cs
  src/HealthChecks.ArangoDb/ArangoDbOptions.cs
  src/HealthChecks.ArangoDb/DependencyInjection/ArangoDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.AzureDigitalTwin/AzureDigitalTwinHealthCheck.cs
  src/HealthChecks.AzureDigitalTwin/AzureDigitalTwinInstanceHealthCheck.cs
  src/HealthChecks.AzureDigitalTwin/AzureDigitalTwinModelsHealthCheck.cs
  src/HealthChecks.AzureDigitalTwin/AzureDigitalTwinSubscriptionHealthCheck.cs
  src/HealthChecks.Gremlin/DependencyInjection/GremlinHealthCheckBuilderExtensions.cs
  src/HealthChecks.Gremlin/GremlinHealthCheck.cs
  src/HealthChecks.Gremlin/GremlinOptions.cs
  src/HealthChecks.IbmMQ/DependencyInjection/IbmMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.IbmMQ/IbmMQHealthCheck.cs
  src/HealthChecks.Nats/DependencyInjection/NatsHealthCheckBuilderExtensions.cs
  src/HealthChecks.Nats/NatsHealthCheck.cs
  src/HealthChecks.Nats/NatsOptions.cs
  src/HealthChecks.SendGrid/DependencyInjection/SendGridHealthCheckExtensions.cs
  src/HealthChecks.SendGrid/SendGridHealthCheck.cs
Labels: code style

#1381 Fix formatting
  src/HealthChecks.OpenIdConnectServer/IdSvrHealthCheck.cs
Labels: code style

#1365 Application Status health check when performed graceful shutdown
  .github/workflows/healthchecks_applicationstatus_cd.yml
  .github/workflows/healthchecks_applicationstatus_cd_preview.yml
  .github/workflows/healthchecks_applicationstatus_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  build/dependencies.props
  src/HealthChecks.ApplicationStatus/ApplicationStatusHealthCheck.cs
  src/HealthChecks.ApplicationStatus/DependencyInjection/ApplicationStatusHealthCheckBuilderExtensions.cs
  src/HealthChecks.ApplicationStatus/HealthChecks.ApplicationStatus.csproj
  src/HealthChecks.ApplicationStatus/README.md
  test/HealthChecks.ApplicationStatus.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.ApplicationStatus.Tests/Functional/ApplicationStatusHealthCheckTests.cs
  test/HealthChecks.ApplicationStatus.Tests/HealthChecks.ApplicationStatus.Tests.csproj
  test/HealthChecks.ApplicationStatus.Tests/HealthChecks.ApplicationStatus.approved.txt
  test/HealthChecks.ApplicationStatus.Tests/TestHostApplicationLifeTime.cs
Labels: enhancement

#1372 Optionally Use Azure Storage Clients from IServiceProvider
  build/dependencies.props
  src/HealthChecks.AzureStorage/AzureBlobStorageHealthCheck.cs
  src/HealthChecks.AzureStorage/AzureBlobStorageHealthCheckOptions.cs
  src/HealthChecks.AzureStorage/AzureFileShareHealthCheck.cs
  src/HealthChecks.AzureStorage/AzureFileShareHealthCheckOptions.cs
  src/HealthChecks.AzureStorage/AzureQueueStorageHealthCheck.cs
  src/HealthChecks.AzureStorage/AzureQueueStorageHealthCheckOptions.cs
  src/HealthChecks.AzureStorage/ClientCache.cs
  src/HealthChecks.AzureStorage/DependencyInjection/AzureStorageHealthCheckBuilderExtensions.cs
  test/HealthChecks.AzureStorage.Tests/AzureBlobStorageHealthCheckTests.cs
  test/HealthChecks.AzureStorage.Tests/AzureFileShareHealthCheckTests.cs
  test/HealthChecks.AzureStorage.Tests/AzureQueueStorageHealthCheckTests.cs
  test/HealthChecks.AzureStorage.Tests/DependencyInjection/AzureBlobStorageRegistrationTests.cs
  test/HealthChecks.AzureStorage.Tests/DependencyInjection/AzureFileShareStorageRegistrationTests.cs
  test/HealthChecks.AzureStorage.Tests/DependencyInjection/AzureQueueStorageRegistrationTests.cs
  test/HealthChecks.AzureStorage.Tests/HealthChecks.AzureStorage.approved.txt
Labels: enhancement

#1409 Fix (Again) Erroneous Usage of Owner Azure Storage Permissions
  build/dependencies.props
  src/HealthChecks.AzureStorage/AzureBlobStorageHealthCheck.cs
  src/HealthChecks.AzureStorage/AzureFileShareHealthCheck.cs
  src/HealthChecks.AzureStorage/AzureQueueStorageHealthCheck.cs
  test/HealthChecks.AzureStorage.Tests/AzureBlobStorageHealthCheckTests.cs
  test/HealthChecks.AzureStorage.Tests/AzureFileShareHealthCheckTests.cs
  test/HealthChecks.AzureStorage.Tests/AzureQueueStorageHealthCheckTests.cs
Labels: enhancement
