Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2022-03, with the labels that each got.

#891 add nats health check
  .github/workflows/healthchecks_nats_cd.yml
  .github/workflows/healthchecks_nats_cd_preview.yml
  .github/workflows/healthchecks_nats_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build.ps1
  build/dependencies.props
  docker-compose.yml
  src/HealthChecks.Nats/DependencyInjection/NatsHealthCheckBuilderExtensions.cs
  src/HealthChecks.Nats/HealthChecks.Nats.csproj
  src/HealthChecks.Nats/NatsHealthCheck.cs
  src/HealthChecks.Nats/NatsOptions.cs
  src/HealthChecks.Nats/README.md
  test/HealthChecks.Nats.Tests/Defines.cs
  test/HealthChecks.Nats.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Nats.Tests/Functional/NatsHealthCheckTests.cs
  test/HealthChecks.Nats.Tests/HealthChecks.Nats.Tests.csproj
  test/UnitTests/UnitTests.csproj
Labels: enhancement

#825 Added support for non-default http version and version policy
  src/HealthChecks.Uris/UriHealthCheck.cs
Labels: enhancement

#1005 Multitarget Oracle health check
  src/HealthChecks.Oracle/HealthChecks.Oracle.csproj
Labels: enhancement, dependencies

#1004 Redis: Renew the underlying connection if there is an exception
  src/HealthChecks.Redis/HealthChecks.Redis.csproj
  src/HealthChecks.Redis/RedisHealthCheck.cs
Labels: enhancement

#983 feat: Added support for using IServiceProvider when configuring Oracle
  src/HealthChecks.Oracle/DependencyInjection/OracleHealthCheckBuilderExtensions.cs
  test/HealthChecks.Oracle.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Oracle.Tests/Functional/OracleHealthCheckTests.cs
Labels: enhancement

#731 Support configuring the UI page title
  samples/HealthChecks.UIAndApiCustomization/Startup.cs
  src/HealthChecks.UI/Configuration/Options.cs
  src/HealthChecks.UI/Core/Extensions/UIResourceExtensions.cs
  src/HealthChecks.UI/Keys.cs
  src/HealthChecks.UI/assets/index.html
  test/FunctionalTests/HealthChecks.UI/Configuration/UIConfigurationTests.cs
  test/HealthChecks.UI.Tests/Functional/Configuration/UIConfigurationTests.cs
Labels: UI, feature request

#997 Add nullable annotations to UI projects
  .github/workflows/healthchecks_redis_cd.yml
  .github/workflows/healthchecks_redis_cd_preview.yml
  .github/workflows/healthchecks_ui_cd.yml
  .github/workflows/healthchecks_ui_cd_preview.yml
  .github/workflows/healthchecks_uris_cd.yml
  .github/workflows/healthchecks_uris_cd_preview.yml
  src/HealthChecks.UI.Client/HealthChecks.UI.Client.csproj
  src/HealthChecks.UI.Core/Data/Configuration/HealthCheckExecutionEntryMap.cs
  src/HealthChecks.UI.Core/Data/HealthCheckConfiguration.cs
  src/HealthChecks.UI.Core/Data/HealthCheckExecution.cs
  src/HealthChecks.UI.Core/Data/HealthCheckExecutionEntry.cs
  src/HealthChecks.UI.Core/Data/HealthCheckFailureNotifications.cs
  src/HealthChecks.UI.Core/Data/HealthCheckStatusHistory.cs
  src/HealthChecks.UI.Core/Data/HealthChecksDb.cs
  src/HealthChecks.UI.Core/HealthChecks.UI.Core.csproj
  src/HealthChecks.UI.Core/UIHealthReport.cs
  src/HealthChecks.UI.InMemory.Storage/HealthChecks.UI.InMemory.Storage.csproj
  src/HealthChecks.UI.InMemory.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI.MySql.Storage/HealthChecks.UI.MySql.Storage.csproj
  src/HealthChecks.UI.MySql.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI.PostgreSQL.Storage/HealthChecks.UI.PostgreSQL.Storage.csproj
  src/HealthChecks.UI.PostgreSQL.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI.SQLite.Storage/HealthChecks.UI.SQLite.Storage.csproj
  src/HealthChecks.UI.SQLite.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI.SqlServer.Storage/HealthChecks.UI.SqlServer.Storage.csproj
  src/HealthChecks.UI.SqlServer.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI/Core/Discovery/K8S/KubernetesDiscoveryHostedService.cs
  src/HealthChecks.UI/Core/Extensions/HealthReportExtensions.cs
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
  src/HealthChecks.UI/Middleware/UIApiEndpointMiddleware.cs
  test/HealthChecks.UI.Tests/Functional/Configuration/UIConfigurationTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/HostBuilderHelper.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/InMemoryStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/MySqlStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/PostgreSqlStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DefaultStartup.cs
  test/HealthChecks.UI.Tests/Functional/ServerAddressesServiceTests.cs
  test/HealthChecks.UI.Tests/Functional/UIApiRequestLimitingTests.cs
  test/HealthChecks.UI.Tests/HealthChecks.UI.Tests.csproj
  test/HealthChecks.UI.Tests/Seedwork/HttpClientExtensions.cs
  test/HealthChecks.UI.Tests/Seedwork/ProviderTestHelper.cs
  test/HealthChecks.UI.Tests/Seedwork/StringAssertionExtensions.cs
  test/HealthChecks.UI.Tests/Seedwork/TestCollectorInterceptor.cs
  test/HealthChecks.UI.Tests/xunit.runner.json
Labels: enhancement
