Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-06, with the labels that each got.

#1819 Feature - seq publisher- expose raw events to options
  src/HealthChecks.Publisher.Seq/RawEvent.cs
  src/HealthChecks.Publisher.Seq/RawEvents.cs
  src/HealthChecks.Publisher.Seq/SeqOptions.cs
  src/HealthChecks.Publisher.Seq/SeqPublisher.cs
  test/HealthChecks.Publisher.Seq.Tests/Functional/SeqPublisherTests.cs
  test/HealthChecks.Publisher.Seq.Tests/HealthChecks.Publisher.Seq.approved.txt
Labels: seq

#1847 allowIntegerValues: true
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
Labels: UI, bugfix

#1832 PR To support DbDataSource for Postgresql
  src/HealthChecks.NpgSql/DependencyInjection/NpgSqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.NpgSql/NpgSqlHealthCheck.cs
  src/HealthChecks.NpgSql/NpgSqlHealthCheckOptions.cs
  test/HealthChecks.Npgsql.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Npgsql.Tests/HealthChecks.NpgSql.approved.txt
Labels: npgsql
