Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-09, with the labels that each got.

#2028 Azure Key Vault Secrets health check
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.Azure.KeyVault.Secrets/AzureKeyVaultSecretOptions.cs
  src/HealthChecks.Azure.KeyVault.Secrets/AzureKeyVaultSecretsHealthCheck.cs
  src/HealthChecks.Azure.KeyVault.Secrets/DependencyInjection/AzureKeyVaultHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.KeyVault.Secrets/HealthChecks.Azure.KeyVault.Secrets.csproj
  src/HealthChecks.Azure.KeyVault.Secrets/README.md
  test/HealthChecks.Azure.KeyVault.Secrets.Tests/Functional/AzureKeyVaultSecretOptionsTests.cs
  test/HealthChecks.Azure.KeyVault.Secrets.Tests/Functional/AzureKeyVaultSecretsHealthCheckTests.cs
  test/HealthChecks.Azure.KeyVault.Secrets.Tests/HealthChecks.Azure.KeyVault.Secrets.Tests.csproj
  test/HealthChecks.Azure.KeyVault.Secrets.Tests/HealthChecks.Azure.KeyVault.Secrets.approved.txt
Labels: test, azure

#2034 Added missing key vault secrets package pipelines
  .github/workflows/healthchecks_azurekeyvault_secrets_cd.yml
  .github/workflows/healthchecks_azurekeyvault_secrets_cd_preview.yml
  .github/workflows/healthchecks_azurekeyvault_secrets_ci.yml
Labels: github_actions

#2029 RedisHealthCheck bug fixes
  build/versions.props
  src/HealthChecks.Redis/DependencyInjection/RedisHealthCheckBuilderExtensions.cs
  src/HealthChecks.Redis/RedisHealthCheck.cs
  test/HealthChecks.Redis.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Redis.Tests/Functional/RedisHealthCheckTests.cs
Labels: test, redis

#2037 use GH reusable workflows to reduce .yml duplication
  .github/workflows/healthchecks_azurekeyvault_cd.yml
  .github/workflows/healthchecks_azurekeyvault_cd_preview.yml
  .github/workflows/healthchecks_azurekeyvault_ci.yml
  .github/workflows/healthchecks_azurekeyvault_secrets_cd.yml
  .github/workflows/healthchecks_azurekeyvault_secrets_cd_preview.yml
  .github/workflows/healthchecks_azurekeyvault_secrets_ci.yml
  .github/workflows/reusable_cd_preview_workflow.yml
  .github/workflows/reusable_cd_workflow.yml
  .github/workflows/reusable_ci_workflow.yml
Labels: github_actions

#2035 fix RCS1090: add missing ConfigureAwait(false)
  build/docker-images/HealthChecks.UI.Image/Extensions/IEndpointRouteBuilderExtensions.cs
  build/docker-images/HealthChecks.UI.Image/PushService/HealthChecksPushService.cs
  src/HealthChecks.UI.K8s.Operator/HealthChecks.UI.K8s.Operator.csproj
  src/HealthChecks.UI/Core/Discovery/K8S/Extensions/IKubernetesExtensions.cs
  src/HealthChecks.UI/Core/Discovery/K8S/KubernetesDiscoveryHostedService.cs
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollectorHostedService.cs
  src/HealthChecks.UI/Core/HostedService/UIInitializationHostedService.cs
  src/HealthChecks.UI/Core/Notifications/WebHookFailureNotifier.cs
  src/HealthChecks.UI/Core/UIEndpointsResourceMapper.cs
  src/HealthChecks.UI/Core/UIResourceMapper.cs
Labels: UI
