Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-02, with the labels that each got.

#1692 Optimize EventStore gRPC HealthCheck
  src/HealthChecks.EventStore.gRPC/EventStoreHealthCheck.cs
Labels: eventstore

#1695 Prometheus - Wrong Encoding used by the browser
  src/HealthChecks.Prometheus.Metrics/LivenessPrometheusMetrics.cs
  src/HealthChecks.Publisher.Prometheus/LivenessPrometheusMetrics.cs
  test/HealthChecks.Prometheus.Metrics.Tests/HealthChecks.Prometheus.Metrics.approved.txt
  test/HealthChecks.Publisher.Prometheus.Tests/HealthChecks.Publisher.Prometheus.approved.txt
Labels: prometheus

#1715 Fix SDK version
  .github/workflows/healthchecks_arangodb_ci.yml
  .github/workflows/healthchecks_ravendb_ci.yml
Labels: github_actions

#1717 Fixes some issue with docker-compose.yml
  doc/ui-docker.md
Labels: docs

#1718 Normalize line endings
  build/docker-images/HealthChecks.UI.Image/Startup.cs
  src/HealthChecks.Aws.S3/S3HealthCheck.cs
  src/HealthChecks.Azure.IoTHub/IoTHubOptions.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusTopicHealthCheck.cs
  src/HealthChecks.Consul/ConsulHealthCheck.cs
  src/HealthChecks.Gcp.CloudFirestore/CloudFirestoreOptions.cs
  src/HealthChecks.Kubernetes/DependencyInjection/KubernetesHealthCheckBuilderExtensions.cs
  src/HealthChecks.Kubernetes/KubernetesResourceCheck.cs
  src/HealthChecks.MongoDb/DependencyInjection/MongoDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.MySql/DependencyInjection/MySqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.Network/SslHealthCheck.cs
  src/HealthChecks.Network/SslHealthCheckOptions.cs
  src/HealthChecks.SendGrid/SendGridHealthCheck.cs
  src/HealthChecks.UI/Core/UIEmbeddedResourcesReader.cs
  test/HealthChecks.Network.Tests/Functional/DnsResolveCountHealthCheckTests.cs
  test/HealthChecks.Prometheus.Metrics.Tests/Functional/PrometheusResponseWriterTests.cs
  test/HealthChecks.System.Tests/Functional/WindowsServiceHealthcheckTests.cs
  test/HealthChecks.UI.Tests/Functional/Configuration/UIConfigurationTests.cs
  test/HealthChecks.UI.Tests/Functional/ServerAddressesServiceTests.cs
  test/HealthChecks.UI.Tests/Functional/UIApiRequestLimitingTests.cs
  test/HealthChecks.UI.Tests/Seedwork/ProviderTestHelper.cs
Labels: code style
