Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-05, with the labels that each got.

#1739 Fix SMTP health checks not respecting timeout
  src/HealthChecks.Network/Core/MailConnection.cs
  src/HealthChecks.Network/Core/SmtpConnection.cs
  src/HealthChecks.Network/SmtpHealthCheck.cs
  test/HealthChecks.Network.Tests/Functional/SmtpHealthCheckTests.cs
Labels: test, network

#1812 Additional async-chores for SMTP/IMAP health checks
  src/HealthChecks.Network/Core/ImapConnection.cs
  src/HealthChecks.Network/Core/MailConnection.cs
  src/HealthChecks.Network/Core/SmtpConnection.cs
  src/HealthChecks.Network/ImapHealthCheck.cs
  src/HealthChecks.Network/SmtpHealthCheck.cs
Labels: test, network

#1815 Move uris tests from UnitTests into Uris.Tests
  test/HealthChecks.Uris.Tests/Functional/UrisHealthcheckTests2.cs
  test/HealthChecks.Uris.Tests/HealthChecks.Uris.Tests.csproj
  test/UnitTests/UnitTests.csproj
Labels: test

#1816 Move Aws.S3 tests
  test/HealthChecks.Aws.S3.Tests/DependencyInjection/RegistrationTests.cs
  test/UnitTests/DependencyInjection/S3/S3UnitTests.cs
  test/UnitTests/UnitTests.csproj
Labels: test

#1817 Delete duplicated tests for RabbitMQ
  .gitignore
  test/UnitTests/DependencyInjection/RabbitMQ/RabbitMQUnitTests.cs
  test/UnitTests/UnitTests.csproj
Labels: test

#1818 Add Kubernetes.Tests/CI/CD, move UI tests
  .github/workflows/healthchecks_kubernetes_cd.yml
  .github/workflows/healthchecks_kubernetes_cd_preview.yml
  .github/workflows/healthchecks_kubernetes_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.UI/HealthChecks.UI.csproj
  test/HealthChecks.Kubernetes.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Kubernetes.Tests/Functional/KubernetesHealthCheckTests.cs
  test/HealthChecks.Kubernetes.Tests/HealthChecks.Kubernetes.Tests.csproj
  test/HealthChecks.Kubernetes.Tests/HealthChecks.Kubernetes.approved.txt
  test/HealthChecks.UI.Tests/HealthChecks.UI.Tests.csproj
  test/HealthChecks.UI.Tests/KubernetesAddressFactoryTests.cs
  test/HealthChecks.UI.Tests/SampleData/local-cluster-discovery-sample.json
  test/HealthChecks.UI.Tests/SampleData/remote-cluster-discovery-sample.json
  test/UnitTests/DependencyInjection/Kubernetes/KubernetesUnitTests.cs
  test/UnitTests/UnitTests.csproj
Labels: UI, github_actions, kubernetes
