Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-08, with the labels that each got.

#1979 Bump Roslynator.Analyzers
  Directory.Build.props
  src/CallerArgumentExpressionAttribute.cs
Labels: dependencies

#1984 UIResponseWriter - Do not encode non-ASCII characters
  build/versions.props
  src/HealthChecks.UI.Client/UIResponseWriter.cs
  test/HealthChecks.UI.Client.Tests/UIResponseWriterTests.cs
Labels: UI, test

#1985 DocumentDb - Add option to check database and collection
  build/versions.props
  src/HealthChecks.DocumentDb/DocumentDbHealthCheck.cs
  src/HealthChecks.DocumentDb/DocumentDbOptions.cs
  test/HealthChecks.DocumentDb.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.DocumentDb.Tests/HealthChecks.DocumentDb.approved.txt
Labels: enhancement, documentdb

#1986 Allow ReadFromJsonAsync for application/json mime
  build/versions.props
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
  test/HealthChecks.UI.Client.Tests/UIResponseWriterTests.cs
Labels: UI, test

#1987 Set InternalsVisibleTo for all projects
  Directory.Build.props
  src/HealthChecks.Network/HealthChecks.Network.csproj
  src/HealthChecks.Publisher.ApplicationInsights/HealthChecks.Publisher.ApplicationInsights.csproj
  src/HealthChecks.UI/HealthChecks.UI.csproj
Labels: UI, network, applicationinsights

#1974 AzureServiceBus ensure client reuse
  src/HealthChecks.AzureServiceBus/AzureServiceBusHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusQueueMessageCountThresholdHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusSubscriptionHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusTopicHealthCheck.cs
  src/HealthChecks.AzureServiceBus/ServiceBusClientProvider.cs
  test/HealthChecks.AzureServiceBus.Tests/AzureServiceBusQueueHealthCheckTests.cs
  test/HealthChecks.AzureServiceBus.Tests/AzureServiceBusQueueMessageCountThresholdHealthCheckTests.cs
  test/HealthChecks.AzureServiceBus.Tests/AzureServiceBusSubscriptionHealthCheckTests.cs
  test/HealthChecks.AzureServiceBus.Tests/AzureServiceBusTopicHealthCheckTests.cs
  test/HealthChecks.AzureServiceBus.Tests/HealthChecks.AzureServiceBus.approved.txt
Labels: enhancement, test, azure

#1981 OpenID Connect - Validate Discovery Endpoint response
  build/versions.props
  src/HealthChecks.OpenIdConnectServer/DiscoveryEndpointResponse.cs
  src/HealthChecks.OpenIdConnectServer/HealthChecks.OpenIdConnectServer.csproj
  src/HealthChecks.OpenIdConnectServer/IdSvrHealthCheck.cs
  src/HealthChecks.OpenIdConnectServer/OidcConstants.cs
  test/HealthChecks.OpenIdConnectServer.Tests/Functional/DiscoveryEndpointResponseTests.cs
Labels: enhancement, openidconnect

#1996 Order health checks entries
  src/HealthChecks.UI/Middleware/UIApiEndpointMiddleware.cs
Labels: UI

#1992 Azure EventHub - Honour timeout in Health Check
  build/versions.props
  src/HealthChecks.AzureServiceBus/AzureEventHubHealthCheck.cs
Labels: azure
