Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-12, with the labels that each got.

#2018 Updating dependabot to weekly updates and grouping non-major nuget package changes
  .github/dependabot.yml
Labels: github_actions

#2105 Bump actions/checkout from 3 to 4
  .github/workflows/reusable_cd_preview_workflow.yml
  .github/workflows/reusable_cd_workflow.yml
  .github/workflows/reusable_ci_workflow.yml
Labels: dependencies, github_actions

#2107 Fixing the dependabot formatting
  .github/dependabot.yml
Labels: github_actions

#2106 Editorial changes for new health checks
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.Azure.Data.Tables/DependencyInjection/AzureTablesServiceHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.Data.Tables/README.md
  src/HealthChecks.Azure.KeyVault.Secrets/AzureKeyVaultSecretsHealthCheck.cs
  src/HealthChecks.Azure.KeyVault.Secrets/AzureKeyVaultSecretsHealthCheckOptions.cs
  src/HealthChecks.Azure.KeyVault.Secrets/DependencyInjection/AzureKeyVaultHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.KeyVault.Secrets/README.md
  src/HealthChecks.Azure.Messaging.EventHubs/DependencyInjection/AzureEventHubHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.Messaging.EventHubs/README.md
  src/HealthChecks.Azure.Storage.Blobs/DependencyInjection/AzureBlobStorageHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.Storage.Blobs/README.md
  src/HealthChecks.Azure.Storage.Files.Shares/DependencyInjection/AzureQueueStorageHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.Storage.Files.Shares/README.md
  src/HealthChecks.Azure.Storage.Queues/DependencyInjection/AzureQueueStorageHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.Storage.Queues/README.md
  src/HealthChecks.CosmosDb/DependencyInjection/CosmosDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.CosmosDb/README.md
  test/HealthChecks.Azure.Data.Tables.Tests/HealthChecks.Azure.Data.Tables.approved.txt
  test/HealthChecks.Azure.Data.Tables.Tests/TableServiceHealthCheckTests.cs
  test/HealthChecks.Azure.KeyVault.Secrets.Tests/HealthChecks.Azure.KeyVault.Secrets.approved.txt
  test/HealthChecks.Azure.Messaging.EventHubs.Tests/HealthChecks.Azure.Messaging.EventHubs.approved.txt
  test/HealthChecks.Azure.Storage.Blobs.Tests/AzureBlobStorageHealthCheckTests.cs
  test/HealthChecks.Azure.Storage.Blobs.Tests/HealthChecks.Azure.Storage.Blobs.approved.txt
  test/HealthChecks.Azure.Storage.Files.Shares.Tests/AzureFileShareHealthCheckTests.cs
  test/HealthChecks.Azure.Storage.Files.Shares.Tests/HealthChecks.Azure.Storage.Files.Shares.approved.txt
  test/HealthChecks.Azure.Storage.Queues.Tests/AzureQueueStorageHealthCheckTests.cs
  test/HealthChecks.Azure.Storage.Queues.Tests/HealthChecks.Azure.Storage.Queues.approved.txt
  test/HealthChecks.CosmosDb.Tests/CosmosDbHealthCheckTests.cs
  test/HealthChecks.CosmosDb.Tests/HealthChecks.CosmosDb.approved.txt
Labels: azure, cosmosdb

#2110 Bump roslynator packages
  .github/workflows/healthchecks_influxdb_ci.yml
  Directory.Build.props
Labels: dependencies

#2027 Add file health check similar to folder health check
  src/HealthChecks.System/DependencyInjection/SystemHealthCheckBuilderExtensions.cs
  src/HealthChecks.System/FileHealthCheck.cs
  src/HealthChecks.System/FileHealthCheckOptions.cs
  test/HealthChecks.System.Tests/Functional/FileHealthCheckTests.cs
  test/HealthChecks.System.Tests/HealthChecks.System.approved.txt
Labels: needs confirmation, test, system

#2112 revert the removal of net5.0 moniker
  src/HealthChecks.Network/HealthChecks.Network.csproj
  src/HealthChecks.Uris/HealthChecks.Uris.csproj
Labels: uris

#2096 Use MySqlDataSource in `AddMySql` by default
  src/HealthChecks.MySql/DependencyInjection/MySqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.MySql/MySqlHealthCheck.cs
  src/HealthChecks.MySql/MySqlHealthCheckOptions.cs
  src/HealthChecks.MySql/README.md
  test/HealthChecks.MySql.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.MySql.Tests/Functional/MySqlHealthCheckTests.cs
  test/HealthChecks.MySql.Tests/HealthChecks.MySql.Tests.csproj
  test/HealthChecks.MySql.Tests/HealthChecks.MySql.approved.txt
Labels: test, mysql

#2116 Improve Npgsql health check design
  src/HealthChecks.NpgSql/DependencyInjection/NpgSqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.NpgSql/NpgSqlHealthCheck.cs
  src/HealthChecks.NpgSql/NpgSqlHealthCheckOptions.cs
  src/HealthChecks.NpgSql/README.md
  test/HealthChecks.Npgsql.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Npgsql.Tests/HealthChecks.NpgSql.approved.txt
  test/HealthChecks.Npgsql.Tests/HealthChecks.Npgsql.Tests.csproj
Labels: npgsql

#2125 Added missing version suffix for new package azure key vaul secrets
  build/versions.props
Labels: bugfix

#2131 Readme updates
  README.md
  src/HealthChecks.AzureServiceBus/HealthChecks.AzureServiceBus.csproj
  src/HealthChecks.AzureServiceBus/README.md
Labels: documentation, azure, docs
