Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-04, with the labels that each got.

#1787 Make IHealthCheckReportCollector public and fix approval tests for UI projects
  src/HealthChecks.UI/Core/HostedService/IHealthCheckReportCollector.cs
  src/HealthChecks.UI/Extensions/ServiceCollectionExtensions.cs
  test/HealthChecks.UI.Tests/HealthChecks.UI.approved.txt
  test/_SHARED/ApiApprovalTests.cs
Labels: UI

#1805 Try fix #1712
  .github/workflows/healthchecks_ui_ci.yml
Labels: github_actions

#1807 Reenabling tests for the UI projects in CI
  .github/workflows/healthchecks_ui_ci.yml
  build/docker-images/HealthChecks.UI.Image/Dockerfile
  src/HealthChecks.UI/build/webpack.config.js
  src/HealthChecks.UI/build/webpack.dll.js
  src/HealthChecks.UI/package-lock.json
  src/HealthChecks.UI/package.json
  test/HealthChecks.UI.Client.Tests/HealthChecks.UI.Client.approved.txt
  test/HealthChecks.UI.Core.Tests/HealthChecks.UI.Core.approved.txt
  test/HealthChecks.UI.Tests/Functional/Configuration/UIConfigurationTests.cs
  test/HealthChecks.UI.Tests/Functional/Configuration/UIHttpMessageHandlerTests.cs
  test/HealthChecks.UI.Tests/Seedwork/ProviderTestHelper.cs
  test/HealthChecks.UI.Tests/xunit.runner.json
Labels: UI, github_actions
