Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-03, with the labels that each got.

#1720 Added Microsoft.Bcl.AsyncInterfaces to allow EventStore.gRPC to work on net6.0
  src/HealthChecks.EventStore.gRPC/HealthChecks.EventStore.gRPC.csproj
Labels: dependencies, eventstore

#1711 List only a single key for S3 healthcheck
  src/HealthChecks.Aws.S3/S3BucketOptions.cs
  src/HealthChecks.Aws.S3/S3HealthCheck.cs
  test/HealthChecks.Aws.S3.Tests/HealthChecks.Aws.S3.approved.txt
Labels: aws

#1725 Bump IBMMQDotnetClient to 9.3.2 and deprecate netstandard2.0 TFM
  src/HealthChecks.IbmMQ/DependencyInjection/IbmMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.IbmMQ/HealthChecks.IbmMQ.csproj
  src/HealthChecks.IbmMQ/IbmMQHealthCheck.cs
Labels: ibmmq

#1740 Add missed net5/net6 TFMs
  src/CallerArgumentExpressionAttribute.cs
  src/HealthChecks.Network/DnsResolveHealthCheck.cs
  src/HealthChecks.Network/DnsResolveHostCountHealthCheck.cs
  src/HealthChecks.Network/HealthChecks.Network.csproj
  src/HealthChecks.Network/SslHealthCheck.cs
  src/HealthChecks.Uris/HealthChecks.Uris.csproj
Labels: network, uris

#1713 Healthcheck checks all hosts if multiple added with AddHost
  src/HealthCheckResultTask.cs
  src/HealthChecks.Network/DnsResolveHealthCheck.cs
  src/HealthChecks.Network/DnsResolveOptions.cs
  src/HealthChecks.Network/FtpHealthCheck.cs
  src/HealthChecks.Network/FtpHealthCheckOptions.cs
  src/HealthChecks.Network/PingHealthCheck.cs
  src/HealthChecks.Network/PingHealthCheckOptions.cs
  src/HealthChecks.Network/SftpHealthCheck.cs
  src/HealthChecks.Network/SftpHealthCheckOptions.cs
  src/HealthChecks.Network/SslHealthCheck.cs
  src/HealthChecks.Network/SslHealthCheckOptions.cs
  src/HealthChecks.Network/TcpHealthCheck.cs
  src/HealthChecks.Network/TcpHealthCheckOptions.cs
  src/HealthChecks.System/DiskStorageHealthCheck.cs
  src/HealthChecks.System/DiskStorageLivenessOptions.cs
  src/HealthChecks.System/FolderHealthCheck.cs
  src/HealthChecks.System/FolderHealthCheckOptions.cs
  test/HealthChecks.Network.Tests/HealthChecks.Network.approved.txt
  test/HealthChecks.System.Tests/HealthChecks.System.approved.txt
Labels: enhancement, network, system

#1762 Move table storage to cosmosdb in readme
  README.md
Labels: docs
