Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-01, with the labels that each got.

#1609 Trigger all CI pipelines on changes in shared test files
  .github/labeler.yml
  .github/workflows/healthchecks_applicationstatus_ci.yml
  .github/workflows/healthchecks_arangodb_ci.yml
  .github/workflows/healthchecks_aws_s3_ci.yml
  .github/workflows/healthchecks_aws_secretsmanager_ci.yml
  .github/workflows/healthchecks_aws_sns_ci.yml
  .github/workflows/healthchecks_aws_sqs_ci.yml
  .github/workflows/healthchecks_aws_systemsmanager_ci.yml
  .github/workflows/healthchecks_azure_digitaltwin_ci.yml
  .github/workflows/healthchecks_azure_iothub_ci.yml
  .github/workflows/healthchecks_azurekeyvault_ci.yml
  .github/workflows/healthchecks_azureservicebus_ci.yml
  .github/workflows/healthchecks_azurestorage_ci.yml
  .github/workflows/healthchecks_consul_ci.yml
  .github/workflows/healthchecks_cosmosdb_ci.yml
  .github/workflows/healthchecks_documentdb_ci.yml
  .github/workflows/healthchecks_dynamodb_ci.yml
  .github/workflows/healthchecks_elasticsearch_ci.yml
  .github/workflows/healthchecks_eventstore_ci.yml
  .github/workflows/healthchecks_eventstore_grpc_ci.yml
  .github/workflows/healthchecks_gcp_cloudfirestore_ci.yml
  .github/workflows/healthchecks_gremlin_ci.yml
  .github/workflows/healthchecks_hangfire_ci.yml
  .github/workflows/healthchecks_ibmmq_ci.yml
  .github/workflows/healthchecks_influxdb_ci.yml
  .github/workflows/healthchecks_kafka_ci.yml
  .github/workflows/healthchecks_mongodb_ci.yml
  .github/workflows/healthchecks_mysql_ci.yml
  .github/workflows/healthchecks_nats_ci.yml
  .github/workflows/healthchecks_network_ci.yml
  .github/workflows/healthchecks_npgsql_ci.yml
  .github/workflows/healthchecks_openidconnectserver_ci.yml
  .github/workflows/healthchecks_oracle_ci.yml
  .github/workflows/healthchecks_prometheus_metrics_ci.yml
  .github/workflows/healthchecks_publisher_applicationinsights_ci.yml
  .github/workflows/healthchecks_publisher_cloudwatch_ci.yml
  .github/workflows/healthchecks_publisher_datadog_ci.yml
  .github/workflows/healthchecks_publisher_prometheus_ci.yml
  .github/workflows/healthchecks_publisher_seq_ci.yml
  .github/workflows/healthchecks_rabbitmq_ci.yml
  .github/workflows/healthchecks_ravendb_ci.yml
  .github/workflows/healthchecks_redis_ci.yml
  .github/workflows/healthchecks_sendgrid_ci.yml
  .github/workflows/healthchecks_signalr_ci.yml
  .github/workflows/healthchecks_solr_ci.yml
  .github/workflows/healthchecks_sqlite_ci.yml
  .github/workflows/healthchecks_sqlserver_ci.yml
  .github/workflows/healthchecks_system_ci.yml
  .github/workflows/healthchecks_ui_ci.yml
  .github/workflows/healthchecks_uris_ci.yml
  Directory.Build.props
  test/HealthChecks.UI.Tests/Functional/UIApiRequestLimitingTests.cs
  test/_SHARED/ApiApprovalTests.cs
  test/_SHARED/TestLogger.cs
  test/_SHARED/TestLoggerProvider.cs
Labels: github_actions, test

#1614 Set flags for all CI workflows
  .github/codecov.yml
  .github/workflows/healthchecks_applicationstatus_ci.yml
  .github/workflows/healthchecks_arangodb_ci.yml
  .github/workflows/healthchecks_aws_s3_ci.yml
  .github/workflows/healthchecks_aws_secretsmanager_ci.yml
  .github/workflows/healthchecks_aws_sns_ci.yml
  .github/workflows/healthchecks_aws_sqs_ci.yml
  .github/workflows/healthchecks_aws_systemsmanager_ci.yml
  .github/workflows/healthchecks_azure_digitaltwin_ci.yml
  .github/workflows/healthchecks_azure_iothub_ci.yml
  .github/workflows/healthchecks_azurekeyvault_ci.yml
  .github/workflows/healthchecks_azureservicebus_ci.yml
  .github/workflows/healthchecks_azurestorage_ci.yml
  .github/workflows/healthchecks_consul_ci.yml
  .github/workflows/healthchecks_cosmosdb_ci.yml
  .github/workflows/healthchecks_documentdb_ci.yml
  .github/workflows/healthchecks_dynamodb_ci.yml
  .github/workflows/healthchecks_elasticsearch_ci.yml
  .github/workflows/healthchecks_eventstore_ci.yml
  .github/workflows/healthchecks_eventstore_grpc_ci.yml
  .github/workflows/healthchecks_gcp_cloudfirestore_ci.yml
  .github/workflows/healthchecks_gremlin_ci.yml
  .github/workflows/healthchecks_hangfire_ci.yml
  .github/workflows/healthchecks_ibmmq_ci.yml
  .github/workflows/healthchecks_influxdb_ci.yml
  .github/workflows/healthchecks_kafka_ci.yml
  .github/workflows/healthchecks_mongodb_ci.yml
  .github/workflows/healthchecks_mysql_ci.yml
  .github/workflows/healthchecks_nats_ci.yml
  .github/workflows/healthchecks_network_ci.yml
  .github/workflows/healthchecks_npgsql_ci.yml
  .github/workflows/healthchecks_openidconnectserver_ci.yml
  .github/workflows/healthchecks_oracle_ci.yml
  .github/workflows/healthchecks_prometheus_metrics_ci.yml
  .github/workflows/healthchecks_publisher_applicationinsights_ci.yml
  .github/workflows/healthchecks_publisher_cloudwatch_ci.yml
  .github/workflows/healthchecks_publisher_datadog_ci.yml
  .github/workflows/healthchecks_publisher_prometheus_ci.yml
  .github/workflows/healthchecks_publisher_seq_ci.yml
  .github/workflows/healthchecks_sendgrid_ci.yml
  .github/workflows/healthchecks_signalr_ci.yml
  .github/workflows/healthchecks_solr_ci.yml
  .github/workflows/healthchecks_sqlite_ci.yml
  .github/workflows/healthchecks_sqlserver_ci.yml
  .github/workflows/healthchecks_system_ci.yml
  .github/workflows/healthchecks_ui_ci.yml
  .github/workflows/healthchecks_uris_ci.yml
Labels: github_actions

#1616 File-scoped namespaces for Consul and MySql
  src/HealthChecks.Consul/ConsulHealthCheck.cs
  src/HealthChecks.InfluxDB/InfluxDBHealthCheck.cs
  src/HealthChecks.MySql/DependencyInjection/MySqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.MySql/MySqlHealthCheck.cs
Labels: consul, mysql, influxdb

#1638 Fix memory leak
  src/HealthChecks.ApplicationStatus/DependencyInjection/ApplicationStatusHealthCheckBuilderExtensions.cs
Labels: bugfix, applicationstatus

#1626 MongoDB - Fix Unhealthy if no collections exists in the specified database
  src/HealthChecks.MongoDb/MongoDbHealthCheck.cs
  test/HealthChecks.MongoDb.Tests/Functional/MongoDbHealthCheckTests.cs
Labels: bugfix, mongodb

#1644 Optimize MongoDbHealthCheck
  src/HealthChecks.MongoDb/MongoDbHealthCheck.cs
Labels: mongodb

#1565 Add different modes for checking health on Azure Service Bus queues and subscriptions
  src/HealthChecks.AzureServiceBus/AzureEventHubHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusSubscriptionHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusTopicHealthCheck.cs
  src/HealthChecks.AzureServiceBus/Configuration/AzureEventHubHealthCheckOptions.cs
  src/HealthChecks.AzureServiceBus/Configuration/AzureServiceBusHealthCheckOptions.cs
  src/HealthChecks.AzureServiceBus/Configuration/AzureServiceBusQueueHealthCheckOptions.cs
  src/HealthChecks.AzureServiceBus/Configuration/AzureServiceBusSubscriptionHealthCheckHealthCheckOptions.cs
  src/HealthChecks.AzureServiceBus/Configuration/AzureServiceBusTopicHealthCheckOptions.cs
  src/HealthChecks.AzureServiceBus/DependencyInjection/AzureServiceBusHealthCheckBuilderExtensions.cs
  src/HealthChecks.AzureServiceBus/HealthChecks.AzureServiceBus.csproj
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureEventHubRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureEventHubUnitWithTokenRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusQueueRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusQueueUnitWithTokenRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusSubscriptionRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusSubscriptionWithTokenRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusTopicRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusTopicWithTokenRegistrationTests.cs
  test/HealthChecks.AzureServiceBus.Tests/HealthChecks.AzureServiceBus.approved.txt
Labels: enhancement, azure

#1662 Use file-scoped namespaces
  src/HealthChecks.AzureServiceBus/AzureServiceBusHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusQueueHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusSubscriptionHealthCheck.cs
  src/HealthChecks.AzureServiceBus/AzureServiceBusTopicHealthCheck.cs
Labels: code style, azure

#1661 Introduce support for timing out redis healthcheck
  src/HealthChecks.Redis/RedisHealthCheck.cs
  test/HealthChecks.Redis.Tests/Functional/RedisHealthCheckTests.cs
Labels: enhancement, test, redis

#1664 Using statements
  src/HealthChecks.Azure.IoTHub/IoTHubHealthCheck.cs
  src/HealthChecks.Gremlin/GremlinHealthCheck.cs
  src/HealthChecks.MySql/MySqlHealthCheck.cs
  src/HealthChecks.Network/FtpHealthCheck.cs
  src/HealthChecks.Network/ImapHealthCheck.cs
  src/HealthChecks.Network/PingHealthCheck.cs
  src/HealthChecks.Network/SftpConfiguration.cs
  src/HealthChecks.Network/SftpHealthCheck.cs
  src/HealthChecks.Network/SmtpHealthCheck.cs
  src/HealthChecks.Network/SslHealthCheck.cs
  src/HealthChecks.Network/TcpHealthCheck.cs
  src/HealthChecks.NpgSql/NpgSqlHealthCheck.cs
  src/HealthChecks.Oracle/OracleHealthCheck.cs
  src/HealthChecks.Publisher.Prometheus/PrometheusGatewayPublisher.cs
  src/HealthChecks.SqlServer/SqlServerHealthCheck.cs
  src/HealthChecks.Sqlite/SqliteHealthCheck.cs
  src/HealthChecks.System/WindowsServiceHealthCheck.cs
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
  src/HealthChecks.UI/Core/UIEmbeddedResourcesReader.cs
  src/HealthChecks.UI/Middleware/UIApiEndpointMiddleware.cs
  src/HealthChecks.UI/Middleware/UIWebHooksApiMiddleware.cs
  test/HealthChecks.RavenDb.Tests/Functional/RavenDbHealthCheckTests.cs
  test/HealthChecks.RavenDb.Tests/Functional/RavenDbHealthCheckTestsSingleConnectionString.cs
Labels: code style
