Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2023-07, with the labels that each got.

#1834 Add overload for private key authentication on sftp configuration builder
  src/HealthChecks.Network/SftpConfiguration.cs
Labels: network

#1843 Add Azure Search HealthCheck
  .github/workflows/healthchecks_azuresearch_cd.yml
  .github/workflows/healthchecks_azuresearch_cd_preview.yml
  .github/workflows/healthchecks_azuresearch_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build/versions.props
  src/HealthChecks.AzureSearch/AzureSearchHealthCheck.cs
  src/HealthChecks.AzureSearch/AzureSearchOptions.cs
  src/HealthChecks.AzureSearch/DependencyInjection/AzureSearchHealthCheckBuilderExtensions.cs
  src/HealthChecks.AzureSearch/HealthChecks.AzureSearch.csproj
  test/HealthChecks.AzureSearch.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.AzureSearch.Tests/HealthChecks.AzureSearch.Tests.csproj
  test/HealthChecks.AzureSearch.Tests/HealthChecks.AzureSearch.approved.txt
Labels: test, azure

#1831 Support for using OracleCredential with Oracle HealthCheck
  src/HealthChecks.Oracle/OracleHealthCheck.cs
  src/HealthChecks.Oracle/OracleHealthCheckOptions.cs
  test/HealthChecks.Oracle.Tests/Functional/OracleHealthCheckTests.cs
  test/HealthChecks.Oracle.Tests/HealthChecks.Oracle.approved.txt
Labels: test, oracle

#1853 Fix consul CI
  .github/workflows/healthchecks_consul_ci.yml
Labels: github_actions, consul

#1857 Revive PR: Elasticsearch - add auth tests
  .github/workflows/healthchecks_elasticsearch_ci.yml
  src/HealthChecks.Elasticsearch/ElasticsearchOptions.cs
  test/HealthChecks.Elasticsearch.Tests/Fixtures/ElasticContainerFixture.cs
  test/HealthChecks.Elasticsearch.Tests/Functional/ElasticsearchAuthenticationTests.cs
  test/HealthChecks.Elasticsearch.Tests/Functional/ElasticsearchHealthCheckTests.cs
  test/HealthChecks.Elasticsearch.Tests/HealthChecks.Elasticsearch.Tests.csproj
  test/HealthChecks.Elasticsearch.Tests/HealthChecks.Elasticsearch.approved.txt
  test/HealthChecks.Elasticsearch.Tests/Resources/docker-compose.yml
Labels: test, elasticsearch

#1858 Add possibility to pass custom DbContextOptionsBuilder
  src/HealthChecks.UI.MySql.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI.PostgreSQL.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI.SQLite.Storage/HealthChecksUIBuilderExtensions.cs
  src/HealthChecks.UI.SqlServer.Storage/HealthChecksUIBuilderExtensions.cs
Labels: UI

#1859 Move test for Elasticsearch into HealthChecks.Elasticsearch.Tests
  test/HealthChecks.Elasticsearch.Tests/DependencyInjection/RegistrationTests.cs
  test/UnitTests/ElasticSearchUnitTests.cs
  test/UnitTests/UnitTests.csproj
Labels: test

#1776 use existing connection multiplexer for redis
  src/HealthChecks.Redis/DependencyInjection/RedisHealthCheckBuilderExtensions.cs
  src/HealthChecks.Redis/RedisHealthCheck.cs
  test/HealthChecks.Redis.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Redis.Tests/Functional/RedisHealthCheckTests.cs
  test/HealthChecks.Redis.Tests/HealthChecks.Redis.approved.txt
Labels: redis

#1860 Cleanup unittests
  test/UnitTests/UnitTests.csproj
Labels: test

#1867 Remove UnitTests
  AspNetCore.Diagnostics.HealthChecks.sln
  Directory.Build.props
  src/HealthChecks.Publisher.Prometheus/_Assembly.cs
  src/HealthChecks.UI/Configuration/Settings.cs
  src/HealthChecks.UI/HealthChecks.UI.csproj
  src/HealthChecks.UI/__AssemblyOptions.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/DockerImageStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/InMemoryStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/MySqlStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/PostgreSqlStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/SqlServerStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/SqliteStorageProviderTests.cs
  test/HealthChecks.UI.Tests/HealthChecks.UI.Tests.csproj
  test/UnitTests/UI/DatabaseProviders/InMemoryStorageProviderTests.cs
  test/UnitTests/UI/DatabaseProviders/MySqlStorageProviderTests.cs
  test/UnitTests/UI/DatabaseProviders/PostgreSqlStorageProviderTests.cs
  test/UnitTests/UI/DatabaseProviders/SQLiteStorageProviderTests.cs
  test/UnitTests/UI/DatabaseProviders/SqlServerStorageProviderTests.cs
  test/UnitTests/UnitTests.csproj
  test/_SHARED/ApiApprovalTests.cs
Labels: UI, test, prometheus

#1870 Revive PR - Extend DynamoDB to not require neither Credentials nor Region
  src/HealthChecks.DynamoDb/DependencyInjection/DynamoDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.DynamoDb/DynamoDbHealthCheck.cs
  test/HealthChecks.DynamoDb.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.DynamoDb.Tests/HealthChecks.DynamoDb.approved.txt
Labels: dynamodb

#1878 Fix InfluxDB CI workflow #1868
  .github/workflows/healthchecks_influxdb_ci.yml
Labels: github_actions

#1861 Revive PR - Extend Service Bus with Active and Deadletter-Queue thresholds
  src/HealthChecks.AzureServiceBus/AzureServiceBusQueueMessageCountThresholdHealthCheck.cs
  src/HealthChecks.AzureServiceBus/Configuration/AzureServiceBusQueueMessagesCountThreshold.cs
  src/HealthChecks.AzureServiceBus/Configuration/AzureServiceBusQueueMessagesCountThresholdHealthCheckOptions.cs
  src/HealthChecks.AzureServiceBus/DependencyInjection/AzureServiceBusHealthCheckBuilderExtensions.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusQueueMessageThresholdCountUnitTests.cs
  test/HealthChecks.AzureServiceBus.Tests/DependencyInjection/AzureServiceBusQueueMessageThresholdCountUnitWithTokenUnitTests.cs
  test/HealthChecks.AzureServiceBus.Tests/HealthChecks.AzureServiceBus.approved.txt
Labels: test, azure

#1879 Fix UI tests
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/InMemoryStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/MySqlStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/PostgreSqlStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/SqlServerStorageProviderTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/SqliteStorageProviderTests.cs
Labels: test

#1880 Revive PR: Fix bug with regression of datetime string in OnStateFrom column in UI
  src/HealthChecks.UI/client/components/LivenessTable.tsx
Labels: UI

#1888 Update readme
  README.md
Labels: docs

#1877 Revive PR: Adds mechanism to prevent spam from unhealthy notifications
  README.md
  src/HealthChecks.UI/Configuration/Settings.cs
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
  test/HealthChecks.UI.Tests/HealthChecks.UI.approved.txt
Labels: UI, docs

#1881 Revive PR: Add RequestTimeout as option for RavenDB healthcheck
  src/HealthChecks.RavenDB/RavenDBHealthCheck.cs
  src/HealthChecks.RavenDB/RavenDBOptions.cs
  test/HealthChecks.RavenDb.Tests/Functional/RavenDbHealthCheckTests.cs
  test/HealthChecks.RavenDb.Tests/HealthChecks.RavenDB.approved.txt
Labels: ravendb

#1889 Revive PR: Add overload to AddAzureBlobStorage to supply your own BlobServiceClient from delegate
  src/HealthChecks.AzureStorage/DependencyInjection/AzureStorageHealthCheckBuilderExtensions.cs
  test/HealthChecks.AzureStorage.Tests/DependencyInjection/AzureBlobStorageRegistrationTests.cs
  test/HealthChecks.AzureStorage.Tests/HealthChecks.AzureStorage.approved.txt
Labels: azure

#1896 Fix ui_api_request_limiting tests
  .github/workflows/healthchecks_ui_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  src/HealthChecks.UI.Data/HealthChecksDb.cs
  src/HealthChecks.UI/Configuration/Settings.cs
  src/HealthChecks.UI/Extensions/ApplicationBuilderExtensions.cs
  src/HealthChecks.UI/Extensions/EndpointRouteBuilderExtensions.cs
  src/HealthChecks.UI/Middleware/UIApiEndpointMiddleware.cs
  src/HealthChecks.UI/Middleware/UIApiRequestLimitingMidleware.cs
  test/HealthChecks.UI.Data.Tests/HealthChecks.UI.Data.Tests.csproj
  test/HealthChecks.UI.Data.Tests/HealthChecks.UI.Data.approved.txt
  test/HealthChecks.UI.Data.Tests/HealthChecksDbTests.cs
  test/HealthChecks.UI.Tests/Functional/UIApiRequestLimitingTests.cs
Labels: UI, test

#1891 Revive PR: Add Application Insights HealthCheck
  .github/workflows/healthchecks_azureapplicationinsights_cd.yml
  .github/workflows/healthchecks_azureapplicationinsights_cd_preview.yml
  .github/workflows/healthchecks_azureapplicationinsights_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build/versions.props
  src/HealthChecks.AzureApplicationInsights/AzureApplicationInsightsHealthCheck.cs
  src/HealthChecks.AzureApplicationInsights/DependencyInjection/AzureApplicationInsightsHealthCheckBuilderExtensions.cs
  src/HealthChecks.AzureApplicationInsights/HealthChecks.AzureApplicationInsights.csproj
  src/HealthChecks.AzureApplicationInsights/README.md
  test/HealthChecks.AzureApplicationInsights.Tests/DependencyInjection/AzureApplicationInsightsUnitTests.cs
  test/HealthChecks.AzureApplicationInsights.Tests/HealthChecks.AzureApplicationInsights.Tests.csproj
  test/HealthChecks.AzureApplicationInsights.Tests/HealthChecks.AzureApplicationInsights.approved.txt
Labels: github_actions, test, azure, cosmosdb

#1904 Fix ui_api_request_limiting tests again
  test/HealthChecks.UI.Tests/Functional/UIApiRequestLimitingTests.cs
Labels: test

#1835 Added MySQL HealthChecks Query and Callback support.
  src/HealthChecks.MySql/DependencyInjection/MySqlHealthCheckBuilderExtensions.cs
  src/HealthChecks.MySql/MySqlHealthCheck.cs
  src/HealthChecks.MySql/MySqlHealthCheckOptions.cs
  test/HealthChecks.MySql.Tests/Functional/MySqlHealthCheckTests.cs
  test/HealthChecks.MySql.Tests/HealthChecks.MySql.approved.txt
Labels: mysql

#1814 Less allocations in HealthChecks.Network
  src/HealthChecks.Network/Core/ImapCommands.cs
  src/HealthChecks.Network/Core/ImapConnection.cs
  src/HealthChecks.Network/Core/MailConnection.cs
  src/HealthChecks.Network/Core/SmtpCommands.cs
  src/HealthChecks.Network/Core/SmtpConnection.cs
  src/HealthChecks.Network/Extensions/TaskExtensions.cs
  src/HealthChecks.Network/HealthChecks.Network.csproj
  test/HealthChecks.Network.Tests/ExtensionsTests.cs
  test/HealthChecks.Network.Tests/HealthChecks.Network.approved.txt
Labels: network

#1921 Fix link to LICENSE
  README.md
Labels: docs

#1869 Switch from Newtonsoft.Json to System.Text.Json
  src/HealthChecks.Publisher.Seq/HealthChecks.Publisher.Seq.csproj
  src/HealthChecks.Publisher.Seq/SeqPublisher.cs
  src/HealthChecks.UI.Core/HealthChecks.UI.Core.csproj
  src/HealthChecks.UI.Data/HealthChecks.UI.Data.csproj
  src/HealthChecks.UI/Configuration/Settings.cs
  src/HealthChecks.UI/HealthChecks.UI.csproj
  src/HealthChecks.UI/Middleware/UIApiEndpointMiddleware.cs
  src/HealthChecks.UI/Middleware/UISettingsMiddleware.cs
  src/HealthChecks.UI/Middleware/UIWebHooksApiMiddleware.cs
  test/HealthChecks.Network.Tests/Functional/HttpClientExtensions.cs
  test/HealthChecks.UI.Tests/Functional/UIApiRequestLimitingTests.cs
  test/HealthChecks.UI.Tests/KubernetesAddressFactoryTests.cs
  test/HealthChecks.UI.Tests/Seedwork/HttpClientExtensions.cs
Labels: enhancement, test

#1932 Fix HealthChecks.Uris.Tests
  src/HealthChecks.Uris/DependencyInjection/UrisHealthCheckBuilderExtensions.cs
  test/HealthChecks.Uris.Tests/Functional/UrisHealthCheckTests.cs
  test/HealthChecks.Uris.Tests/Functional/UrisHealthcheckTests2.cs
  test/HealthChecks.Uris.Tests/HealthChecks.Uris.approved.txt
Labels: bugfix, uris

#1933 Fix one more test
  test/HealthChecks.Uris.Tests/Functional/UrisHealthCheckTests.cs
Labels: test

#1910 Revive PR: Allow healthchecking multiple RabbitMQ connections
  src/HealthChecks.Rabbitmq/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheckOptions.cs
  test/HealthChecks.RabbitMQ.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.RabbitMQ.Tests/Functional/RabbitHealthCheckTests.cs
  test/HealthChecks.RabbitMQ.Tests/HealthChecks.Rabbitmq.approved.txt
Labels: rabbitmq

#1940 Bump packages
  Directory.Build.props
  src/HealthChecks.ApplicationStatus/HealthChecks.ApplicationStatus.csproj
  src/HealthChecks.ArangoDb/HealthChecks.ArangoDb.csproj
  src/HealthChecks.Aws.S3/HealthChecks.Aws.S3.csproj
  src/HealthChecks.Aws.SecretsManager/HealthChecks.Aws.SecretsManager.csproj
  src/HealthChecks.Aws.Sns/HealthChecks.Aws.Sns.csproj
  src/HealthChecks.Aws.Sqs/HealthChecks.Aws.Sqs.csproj
  src/HealthChecks.Aws.SystemsManager/HealthChecks.Aws.SystemsManager.csproj
  src/HealthChecks.Azure.IoTHub/HealthChecks.Azure.IoTHub.csproj
  src/HealthChecks.AzureApplicationInsights/HealthChecks.AzureApplicationInsights.csproj
  src/HealthChecks.AzureDigitalTwin/HealthChecks.AzureDigitalTwin.csproj
  src/HealthChecks.AzureKeyVault/HealthChecks.AzureKeyVault.csproj
  src/HealthChecks.AzureSearch/HealthChecks.AzureSearch.csproj
  src/HealthChecks.AzureServiceBus/HealthChecks.AzureServiceBus.csproj
  src/HealthChecks.AzureStorage/HealthChecks.AzureStorage.csproj
  src/HealthChecks.Consul/HealthChecks.Consul.csproj
  src/HealthChecks.CosmosDb/HealthChecks.CosmosDb.csproj
  src/HealthChecks.DocumentDb/HealthChecks.DocumentDb.csproj
  src/HealthChecks.DynamoDb/HealthChecks.DynamoDb.csproj
  src/HealthChecks.Elasticsearch/HealthChecks.Elasticsearch.csproj
  src/HealthChecks.EventStore.gRPC/HealthChecks.EventStore.gRPC.csproj
  src/HealthChecks.EventStore/HealthChecks.EventStore.csproj
  src/HealthChecks.Gcp.CloudFirestore/HealthChecks.Gcp.CloudFirestore.csproj
  src/HealthChecks.Gremlin/HealthChecks.Gremlin.csproj
  src/HealthChecks.Hangfire/HealthChecks.Hangfire.csproj
  src/HealthChecks.IbmMQ/HealthChecks.IbmMQ.csproj
  src/HealthChecks.InfluxDB/HealthChecks.InfluxDB.csproj
  src/HealthChecks.Kafka/HealthChecks.Kafka.csproj
  src/HealthChecks.Kubernetes/HealthChecks.Kubernetes.csproj
  src/HealthChecks.MongoDb/HealthChecks.MongoDb.csproj
  src/HealthChecks.MySql/HealthChecks.MySql.csproj
  src/HealthChecks.Nats/HealthChecks.Nats.csproj
  src/HealthChecks.Network/HealthChecks.Network.csproj
  src/HealthChecks.NpgSql/HealthChecks.NpgSql.csproj
  src/HealthChecks.OpenIdConnectServer/HealthChecks.OpenIdConnectServer.csproj
  src/HealthChecks.Oracle/HealthChecks.Oracle.csproj
  src/HealthChecks.Publisher.ApplicationInsights/ApplicationInsightsPublisher.cs
  src/HealthChecks.Publisher.ApplicationInsights/HealthChecks.Publisher.ApplicationInsights.csproj
  src/HealthChecks.Publisher.CloudWatch/HealthChecks.Publisher.CloudWatch.csproj
  src/HealthChecks.Publisher.Datadog/HealthChecks.Publisher.Datadog.csproj
  src/HealthChecks.Publisher.Prometheus/HealthChecks.Publisher.Prometheus.csproj
  src/HealthChecks.Publisher.Seq/HealthChecks.Publisher.Seq.csproj
  src/HealthChecks.Rabbitmq/HealthChecks.Rabbitmq.csproj
  src/HealthChecks.RavenDB/HealthChecks.RavenDB.csproj
  src/HealthChecks.Redis/HealthChecks.Redis.csproj
  src/HealthChecks.SendGrid/HealthChecks.SendGrid.csproj
  src/HealthChecks.SignalR/HealthChecks.SignalR.csproj
  src/HealthChecks.Solr/HealthChecks.Solr.csproj
  src/HealthChecks.SqlServer/HealthChecks.SqlServer.csproj
  src/HealthChecks.Sqlite/HealthChecks.Sqlite.csproj
  src/HealthChecks.System/HealthChecks.System.csproj
  src/HealthChecks.UI.Client/HealthChecks.UI.Client.csproj
  src/HealthChecks.UI.Core/HealthChecks.UI.Core.csproj
  src/HealthChecks.UI.Data/HealthChecks.UI.Data.csproj
  src/HealthChecks.UI.K8s.Operator/HealthChecks.UI.K8s.Operator.csproj
  src/HealthChecks.UI/HealthChecks.UI.csproj
  src/HealthChecks.Uris/HealthChecks.Uris.csproj
  test/HealthChecks.Publisher.ApplicationInsights.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.UI.Client.Tests/HealthChecks.UI.Client.Tests.csproj
Labels: dependencies

#1945 Add DynamoDBOptions.Limit and DynamoDBOptions.LastEvaluatedTableName
  src/HealthChecks.DynamoDb/DependencyInjection/DynamoDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.DynamoDb/DynamoDbHealthCheck.cs
  src/HealthChecks.DynamoDb/DynamoDbOptions.cs
  test/HealthChecks.DynamoDb.Tests/HealthChecks.DynamoDb.approved.txt
Labels: dynamodb

#1946 Introduce RabbitMQHealthCheckOptions.RequestedConnectionTimeout
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheckOptions.cs
  test/HealthChecks.RabbitMQ.Tests/Functional/RabbitHealthCheckTests.cs
  test/HealthChecks.RabbitMQ.Tests/HealthChecks.Rabbitmq.approved.txt
Labels: rabbitmq

#1948 More overloads for MongoDbHealthCheckBuilderExtensions
  src/HealthChecks.MongoDb/DependencyInjection/MongoDbHealthCheckBuilderExtensions.cs
  test/HealthChecks.MongoDb.Tests/HealthChecks.MongoDb.approved.txt
Labels: mongodb

#1949 Fail AzureKeyVaultHealthCheck if no keys, certificates or secrets configured
  src/HealthChecks.AzureKeyVault/AzureKeyVaultHealthCheck.cs
  test/HealthChecks.ArangoDb.Tests/Functional/ArangoDbHealthCheckTests.cs
  test/HealthChecks.AzureKeyVault.Tests/Functional/AzureKeyVaultHealthCheckTests.cs
  test/HealthChecks.AzureKeyVault.Tests/HealthChecks.AzureKeyVault.Tests.csproj
  test/HealthChecks.Consul.Tests/Functional/ConsulHealthCheckTests.cs
  test/HealthChecks.Elasticsearch.Tests/Functional/ElasticsearchAuthenticationTests.cs
  test/HealthChecks.Elasticsearch.Tests/Functional/ElasticsearchHealthCheckTests.cs
  test/HealthChecks.EventStore.Tests/Functional/EventStoreHealthCheckTests.cs
  test/HealthChecks.EventStore.gRPC.Tests/Functional/EventStoreHealthCheckTests.cs
  test/HealthChecks.Gremlin.Tests/Functional/GremlinHealthCheckTests.cs
  test/HealthChecks.Network.Tests/Functional/SslHealthCheckTests.cs
  test/HealthChecks.OpenIdConnectServer.Tests/Functional/IdSvrHealthCheckTests.cs
  test/HealthChecks.RabbitMQ.Tests/Functional/RabbitHealthCheckTests.cs
  test/HealthChecks.RavenDb.Tests/Functional/RavenDbHealthCheckTests.cs
  test/HealthChecks.RavenDb.Tests/Functional/RavenDbHealthCheckTestsSingleConnectionString.cs
  test/HealthChecks.Redis.Tests/Functional/RedisHealthCheckTests.cs
  test/HealthChecks.SignalR.Tests/Functional/SignalRHealthCheckTests.cs
  test/HealthChecks.Solr.Tests/Functional/SolrHealthCheckTests.cs
  test/HealthChecks.SqlServer.Tests/Functional/SqlServerHealthCheckTests.cs
  test/HealthChecks.System.Tests/Functional/FolderHealthCheckTests.cs
Labels: test, azure

#1950 Expose Identity Server discover configuration segment
  src/HealthChecks.OpenIdConnectServer/DependencyInjection/IdSvrHealthCheckBuilderExtensions.cs
  src/HealthChecks.OpenIdConnectServer/IdSvrHealthCheck.cs
  test/HealthChecks.OpenIdConnectServer.Tests/HealthChecks.OpenIdConnectServer.approved.txt
Labels: openidconnect

#1716 Allow to add config.json to docker
  build/docker-images/HealthChecks.UI.Image/Program.cs
  doc/ui-docker.md
Labels: UI, docs

#1947 Revive PR: Add HealthChecks.Dapr
  .github/labeler.yml
  .github/workflows/healthchecks_dapr_cd.yml
  .github/workflows/healthchecks_dapr_cd_preview.yml
  .github/workflows/healthchecks_dapr_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build/versions.props
  src/HealthChecks.Dapr/DaprHealthCheck.cs
  src/HealthChecks.Dapr/DependencyInjection/DaprHealthCheckBuilderExtensions.cs
  src/HealthChecks.Dapr/HealthChecks.Dapr.csproj
  test/HealthChecks.Dapr.Tests/DependencyInjection/DaprRegistrationTests.cs
  test/HealthChecks.Dapr.Tests/HealthChecks.Dapr.Tests.csproj
  test/HealthChecks.Dapr.Tests/HealthChecks.Dapr.approved.txt
Labels: docs, dapr

#1961 Remove Microsoft.EntityFrameworkCore.Sqlite dependency from UI
  src/HealthChecks.UI/HealthChecks.UI.csproj
Labels: UI

#1962 Fix error message
  src/HealthChecks.UI/Core/Notifications/WebHookFailureNotifier.cs
Labels: UI, bugfix

#1963 Handle not OK HTTP status codes in HealthCheckReportCollector
  src/HealthChecks.UI/Core/HostedService/HealthCheckReportCollector.cs
Labels: UI

#1964 Assert -> Shouldly
  test/HealthChecks.AzureDigitalTwin.Tests/DependencyInjection/AzureDigitalTwinInstanceUnitTests.cs
  test/HealthChecks.AzureDigitalTwin.Tests/DependencyInjection/AzureDigitalTwinModelUnitTests.cs
  test/HealthChecks.AzureDigitalTwin.Tests/DependencyInjection/AzureDigitalTwinUnitTests.cs
  test/HealthChecks.AzureKeyVault.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.ApplicationInsights.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.CloudWatch.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.Datadog.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.Prometheus.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.Seq.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.SqlServer.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.System.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.System.Tests/Functional/WindowsServiceHealthcheckTests.cs
  test/HealthChecks.UI.Tests/Functional/DatabaseProviders/DockerImageStorageProviderTests.cs
Labels: test

#1957 Remove InstrumentationKey from Application Insights publisher
  src/HealthChecks.Publisher.ApplicationInsights/ApplicationInsightsPublisher.cs
  src/HealthChecks.Publisher.ApplicationInsights/DependencyInjection/ApplicationInsightsHealthCheckBuilderExtensions.cs
  src/HealthChecks.Publisher.ApplicationInsights/HealthChecks.Publisher.ApplicationInsights.csproj
  test/HealthChecks.Publisher.ApplicationInsights.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.ApplicationInsights.Tests/Functional/ApplicationInsightsPublisherTests.cs
  test/HealthChecks.Publisher.ApplicationInsights.Tests/HealthChecks.Publisher.ApplicationInsights.approved.txt
Labels: applicationinsights

#1965 Provide overload with IServiceProvider to AddSignalRHub
  src/HealthChecks.SignalR/DependencyInjection/SignalRHealthCheckBuilderExtensions.cs
  test/HealthChecks.SignalR.Tests/HealthChecks.SignalR.approved.txt
Labels: signalr

#1966 Cleanup
  Directory.Build.props
  samples/HealthChecks.UI.Branding/Startup.cs
  src/HealthChecks.Publisher.Prometheus/DependencyInjection/PrometheusGatewayHealthCheckBuilderExtensions.cs
  src/HealthChecks.SignalR/DependencyInjection/SignalRHealthCheckBuilderExtensions.cs
  src/HealthChecks.UI/Core/UIResourceMapper.cs
  test/HealthChecks.Publisher.Datadog.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.Prometheus.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.SqlServer.Tests/DependencyInjection/RegistrationTests.cs
Labels: UI, test, samples, signalr, prometheus

#1973 Fix serialization for camelCase for UI Api Endpoint
  build/versions.props
  src/HealthChecks.UI/Middleware/UIApiEndpointMiddleware.cs
Labels: UI
