Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2024-07, with the labels that each got.

#2197 README grammar/clarity fixes
  README.md
Labels: docs

#2201 HealthChecks.UI.Image/Dockerfile: build and run on aspnet & sdk v8
  build/docker-images/HealthChecks.UI.Image/Dockerfile
Labels: UI, dependencies

#2267 Update KubernetesClient Package Version to 14.0.2
  src/HealthChecks.UI/HealthChecks.UI.csproj
Labels: UI

#2266 Update MongoDB.Driver Package Version To 2.28.0
  src/HealthChecks.MongoDb/HealthChecks.MongoDb.csproj
  src/HealthChecks.UI/HealthChecks.UI.csproj
Labels: mongodb
