Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2024-12, with the labels that each got.

#2310 Add Qdrant health checks
  .github/codecov.yml
  .github/labeler.yml
  .github/workflows/healthchecks_qdrant_cd.yml
  .github/workflows/healthchecks_qdrant_cd_preview.yml
  .github/workflows/healthchecks_qdrant_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  README.md
  build/versions.props
  src/HealthChecks.Qdrant/DependencyInjection/QdrantHealthCheckBuilderExtensions.cs
  src/HealthChecks.Qdrant/HealthChecks.Qdrant.csproj
  src/HealthChecks.Qdrant/QdrantHealthCheck.cs
  test/HealthChecks.Qdrant.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Qdrant.Tests/Functional/QdrantHealthCheckTests.cs
  test/HealthChecks.Qdrant.Tests/HealthChecks.Qdrant.Tests.csproj
  test/HealthChecks.Qdrant.Tests/HealthChecks.Qdrant.approved.txt
Labels: docs, qdrant

#2314 Update healthchecksui.css (background color on logo element)
  src/HealthChecks.UI/assets/healthchecksui.css
Labels: UI

#2289 Added overload to for StatsdConfig
  src/HealthChecks.Publisher.Datadog/DependencyInjection/DatadogHealthCheckBuilderExtensions.cs
Labels: datadog

#2270 Update Microsoft.Data.SqlClient to version 5.2.1
  build/versions.props
Labels: sqlserver

#2330 trigger the CI when file with version numbers gets updated
  .github/workflows/healthchecks_applicationstatus_ci.yml
  .github/workflows/healthchecks_arangodb_ci.yml
  .github/workflows/healthchecks_aws_s3_ci.yml
  .github/workflows/healthchecks_aws_secretsmanager_ci.yml
  .github/workflows/healthchecks_aws_sns_ci.yml
  .github/workflows/healthchecks_aws_sqs_ci.yml
  .github/workflows/healthchecks_aws_systemsmanager_ci.yml
  .github/workflows/healthchecks_azure_digitaltwin_ci.yml
  .github/workflows/healthchecks_azure_iothub_ci.yml
  .github/workflows/healthchecks_azureapplicationinsights_ci.yml
  .github/workflows/healthchecks_azurekeyvault_ci.yml
  .github/workflows/healthchecks_azurekeyvault_secrets_ci.yml
  .github/workflows/healthchecks_azuresearch_ci.yml
  .github/workflows/healthchecks_azureservicebus_ci.yml
  .github/workflows/healthchecks_consul_ci.yml
  .github/workflows/healthchecks_cosmosdb_ci.yml
  .github/workflows/healthchecks_dapr_ci.yml
  .github/workflows/healthchecks_dynamodb_ci.yml
  .github/workflows/healthchecks_elasticsearch_ci.yml
  .github/workflows/healthchecks_eventstore_ci.yml
  .github/workflows/healthchecks_eventstore_grpc_ci.yml
  .github/workflows/healthchecks_gcp_cloudfirestore_ci.yml
  .github/workflows/healthchecks_gremlin_ci.yml
  .github/workflows/healthchecks_hangfire_ci.yml
  .github/workflows/healthchecks_ibmmq_ci.yml
  .github/workflows/healthchecks_influxdb_ci.yml
  .github/workflows/healthchecks_kafka_ci.yml
  .github/workflows/healthchecks_kubernetes_ci.yml
  .github/workflows/healthchecks_milvus_ci.yml
  .github/workflows/healthchecks_mongodb_ci.yml
  .github/workflows/healthchecks_mysql_ci.yml
  .github/workflows/healthchecks_nats_ci.yml
  .github/workflows/healthchecks_network_ci.yml
  .github/workflows/healthchecks_npgsql_ci.yml
  .github/workflows/healthchecks_openidconnectserver_ci.yml
  .github/workflows/healthchecks_oracle_ci.yml
  .github/workflows/healthchecks_prometheus_metrics_ci.yml
  .github/workflows/healthchecks_publisher_applicationinsights_ci.yml
  .github/workflows/healthchecks_publisher_cloudwatch_ci.yml
  .github/workflows/healthchecks_publisher_datadog_ci.yml
  .github/workflows/healthchecks_publisher_prometheus_ci.yml
  .github/workflows/healthchecks_publisher_seq_ci.yml
  .github/workflows/healthchecks_qdrant_ci.yml
  .github/workflows/healthchecks_rabbitmq_ci.yml
  .github/workflows/healthchecks_ravendb_ci.yml
  .github/workflows/healthchecks_redis_ci.yml
  .github/workflows/healthchecks_sendgrid_ci.yml
  .github/workflows/healthchecks_signalr_ci.yml
  .github/workflows/healthchecks_solr_ci.yml
  .github/workflows/healthchecks_sqlite_ci.yml
  .github/workflows/healthchecks_sqlserver_ci.yml
  .github/workflows/healthchecks_system_ci.yml
  .github/workflows/healthchecks_ui_ci.yml
  .github/workflows/healthchecks_uris_ci.yml
Labels: github_actions

#2164 Fix strict OpenIdConnect server response validation
  .github/workflows/healthchecks_openidconnectserver_ci.yml
  src/HealthChecks.OpenIdConnectServer/DependencyInjection/IdSvrHealthCheckBuilderExtensions.cs
  src/HealthChecks.OpenIdConnectServer/DiscoveryEndpointResponse.cs
  src/HealthChecks.OpenIdConnectServer/IdSvrHealthCheck.cs
  test/HealthChecks.OpenIdConnectServer.Tests/Functional/DiscoveryEndpointResponseTests.cs
  test/HealthChecks.OpenIdConnectServer.Tests/HealthChecks.OpenIdConnectServer.approved.txt
Labels: test, openidconnect

#2134 Add overload for SFTP Service Provider
  src/HealthChecks.Network/DependencyInjection/NetworkHealthCheckBuilderExtensions.cs
  test/HealthChecks.Network.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Network.Tests/HealthChecks.Network.approved.txt
Labels: test, network

#2329 Improve Datadog health check
  src/HealthChecks.Publisher.Datadog/DependencyInjection/DatadogHealthCheckBuilderExtensions.cs
  src/HealthChecks.Publisher.Datadog/README.md
  test/HealthChecks.Publisher.Datadog.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Publisher.Datadog.Tests/HealthChecks.Publisher.Datadog.approved.txt
Labels: datadog

#2301 SendGrid ServiceProvider Overload
  src/HealthChecks.SendGrid/DependencyInjection/SendGridHealthCheckExtensions.cs
  test/HealthChecks.SendGrid.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.SendGrid.Tests/HealthChecks.SendGrid.approved.txt
Labels: test, sendgrid

#2324 Add support for MongoDB.Driver version 3
  AspNetCore.Diagnostics.HealthChecks.sln
  Directory.Packages.props
  src/CallerArgumentExpressionAttribute.cs
  src/HealthChecks.MongoDb/HealthChecks.MongoDb.csproj
Labels: mongodb

#2276 Make MongoDB health check a retryable operation
  src/HealthChecks.MongoDb/MongoDbHealthCheck.cs
  test/HealthChecks.MongoDb.Tests/Functional/MongoDbHealthCheckTests.cs
Labels: test, mongodb

#2284 Azure Storage Accounts PoLP (Principle of least privilege) Approach
  src/HealthChecks.Azure.Data.Tables/AzureTableServiceHealthCheck.cs
  src/HealthChecks.Azure.Storage.Blobs/AzureBlobStorageHealthCheck.cs
  src/HealthChecks.Azure.Storage.Queues/AzureQueueStorageHealthCheck.cs
  test/HealthChecks.Azure.Data.Tables.Tests/AzureTableStorageHealthCheckTests.cs
  test/HealthChecks.Azure.Data.Tables.Tests/TableStorageConformanceTests.cs
  test/HealthChecks.Azure.Storage.Blobs.Tests/AzureBlobStorageHealthCheckTests.cs
  test/HealthChecks.Azure.Storage.Queues.Tests/AzureQueueStorageHealthCheckTests.cs
Labels: test, azure

#2338 Fix labeler breaking change after updating to v5
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github_actions

#2323 Add support for RabbitMQ.Client version 7.
  .github/workflows/healthchecks_rabbitmq_ci.yml
  .github/workflows/healthchecks_rabbitmq_v6_cd.yml
  .github/workflows/healthchecks_rabbitmq_v6_cd_preview.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  Directory.Packages.props
  src/HealthChecks.Rabbitmq.v6/HealthChecks.Rabbitmq.v6.csproj
  src/HealthChecks.Rabbitmq.v6/RabbitMQHealthCheck.cs
  src/HealthChecks.Rabbitmq/HealthChecks.Rabbitmq.csproj
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
  test/HealthChecks.RabbitMQ.Tests/Functional/RabbitHealthCheckTests.cs
  test/HealthChecks.RabbitMQ.Tests/HealthChecks.RabbitMQ.Tests.csproj
  test/HealthChecks.RabbitMQ.v6.Tests/HealthChecks.RabbitMQ.v6.Tests.csproj
  test/HealthChecks.RabbitMQ.v6.Tests/HealthChecks.Rabbitmq.approved.txt
Labels: rabbitmq

#2047 Add package for SurrealDB
  .github/codecov.yml
  .github/labeler.yml
  .github/workflows/healthchecks_surrealdb_cd.yml
  .github/workflows/healthchecks_surrealdb_cd_preview.yml
  .github/workflows/healthchecks_surrealdb_ci.yml
  AspNetCore.Diagnostics.HealthChecks.sln
  Directory.Packages.props
  build/versions.props
  src/HealthChecks.ClickHouse/HealthChecks.ClickHouse.csproj
  src/HealthChecks.SurrealDb/DependencyInjection/SurrealDbHealthCheckBuilderExtensions.cs
  src/HealthChecks.SurrealDb/HealthChecks.SurrealDb.csproj
  src/HealthChecks.SurrealDb/README.md
  src/HealthChecks.SurrealDb/SurrealDbHealthCheck.cs
  test/HealthChecks.SurrealDb.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.SurrealDb.Tests/Functional/SurrealDbHealthCheckTests.cs
  test/HealthChecks.SurrealDb.Tests/HealthChecks.SurrealDb.Tests.csproj
  test/HealthChecks.SurrealDb.Tests/HealthChecks.SurrealDb.approved.txt
Labels: docs

#2216 Added managed identity for Azure IoTHub health checks
  src/HealthChecks.Azure.IoTHub/DependencyInjection/IoTHubHealthChecksBuilderExtensions.cs
  src/HealthChecks.Azure.IoTHub/IoTHubHealthCheck.cs
  src/HealthChecks.Azure.IoTHub/IoTHubOptions.cs
  src/HealthChecks.Azure.IoTHub/IoTHubRegistryManagerHealthCheck.cs
  src/HealthChecks.Azure.IoTHub/IoTHubServiceClientHealthCheck.cs
  src/HealthChecks.Azure.IoTHub/README.md
  test/HealthChecks.Azure.IoTHub.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Azure.IoTHub.Tests/HealthChecks.Azure.IoTHub.Tests.csproj
  test/HealthChecks.Azure.IoTHub.Tests/HealthChecks.Azure.IoTHub.approved.txt
  test/HealthChecks.Azure.IoTHub.Tests/IoTHubRegistryManagerConformanceTests.cs
  test/HealthChecks.Azure.IoTHub.Tests/IoTHubServiceClientConformanceTests.cs
Labels: UI, azure

#2336 Use recommended NATS.Net client for Nats package
  Directory.Packages.props
  src/HealthChecks.Nats/DependencyInjection/NatsHealthCheckBuilderExtensions.cs
  src/HealthChecks.Nats/HealthChecks.Nats.csproj
  src/HealthChecks.Nats/NatsHealthCheck.cs
  src/HealthChecks.Nats/NatsOptions.cs
  src/HealthChecks.Nats/README.md
  test/HealthChecks.Nats.Tests/DependencyInjection/RegistrationTests.cs
  test/HealthChecks.Nats.Tests/Functional/NatsHealthCheckTests.cs
  test/HealthChecks.Nats.Tests/HealthChecks.Nats.approved.txt
Labels: breaking-change, nats

#2344 Fix labeler.yml
  .github/labeler.yml
Labels: github_actions

#2345 Migrate Redis tests to Testcontainers
  .github/workflows/healthchecks_redis_ci.yml
  Directory.Packages.props
  build/versions.props
  test/HealthChecks.Redis.Tests/Functional/RedisHealthCheckTests.cs
  test/HealthChecks.Redis.Tests/HealthChecks.Redis.Tests.csproj
  test/HealthChecks.Redis.Tests/RedisContainerFixture.cs
Labels: github_actions

#2348 Migrate HealthChecks.SqlServer tests to Testcontainers
  .github/workflows/healthchecks_sqlserver_ci.yml
  Directory.Packages.props
  test/HealthChecks.SqlServer.Tests/Functional/SqlServerHealthCheckTests.cs
  test/HealthChecks.SqlServer.Tests/HealthChecks.SqlServer.Tests.csproj
  test/HealthChecks.SqlServer.Tests/SqlServerContainerFixture.cs
Labels: github_actions

#2350 Reusable GH action for Redis ci
  .github/workflows/healthchecks_redis_ci.yml
Labels: github_actions

#2349 Migrate HealthChecks.Npgsql tests to Testcontainers
  .github/workflows/healthchecks_npgsql_ci.yml
  Directory.Packages.props
  test/HealthChecks.Npgsql.Tests/Functional/NpgsqlHealthCheckTests.cs
  test/HealthChecks.Npgsql.Tests/HealthChecks.Npgsql.Tests.csproj
  test/HealthChecks.Npgsql.Tests/PostgreSQLContainerFixture.cs
Labels: github_actions

#2351 Migrate HealthChecks.MongoDb tests to Testcontainers
  .github/workflows/healthchecks_mongodb_ci.yml
  Directory.Packages.props
  test/HealthChecks.MongoDb.Tests/Functional/MongoDbHealthCheckTests.cs
  test/HealthChecks.MongoDb.Tests/HealthChecks.MongoDb.Tests.csproj
  test/HealthChecks.MongoDb.Tests/MongoDbContainerFixture.cs
Labels: github_actions

#2352 Migrate HealthChecks.Rabbitmq tests to Testcontainers
  .github/workflows/healthchecks_rabbitmq_ci.yml
  Directory.Packages.props
  test/HealthChecks.RabbitMQ.Tests/Functional/RabbitHealthCheckTests.cs
  test/HealthChecks.RabbitMQ.Tests/HealthChecks.RabbitMQ.Tests.csproj
  test/HealthChecks.RabbitMQ.Tests/RabbitMQContainerFixture.cs
  test/HealthChecks.RabbitMQ.v6.Tests/Functional/RabbitHealthCheckTests.cs
  test/HealthChecks.RabbitMQ.v6.Tests/HealthChecks.RabbitMQ.v6.Tests.csproj
Labels: github_actions

#2353 Migrate HealthChecks.MySql tests to Testcontainers
  .github/workflows/healthchecks_mysql_ci.yml
  Directory.Packages.props
  test/HealthChecks.MySql.Tests/Functional/MySqlHealthCheckTests.cs
  test/HealthChecks.MySql.Tests/HealthChecks.MySql.Tests.csproj
  test/HealthChecks.MySql.Tests/MySqlContainerFixture.cs
Labels: github_actions
