Repository Xabaril/AspNetCore.Diagnostics.HealthChecks, pull requests merged in 2024-08, with the labels that each got.

#2282 Fix Elasticsearch broken ci
  .github/workflows/healthchecks_elasticsearch_ci.yml
Labels: github_actions

#2283 Fix Kafka broken ci
  .github/workflows/healthchecks_kafka_ci.yml
  test/HealthChecks.Kafka.Tests/Functional/KafkaHealthCheckTests.cs
Labels: github_actions, test

#2291 Sign HealthChecks.MongoDb
  src/HealthChecks.MongoDb/HealthChecks.MongoDb.csproj
Labels: mongodb

#2271 Mark AddOracle in sqlite package as Obsolete
  src/HealthChecks.Sqlite/DependencyInjection/SqliteHealthCheckBuilderExtensions.cs
  test/HealthChecks.Sqlite.Tests/HealthChecks.Sqlite.approved.txt
Labels: sqlite

#2153 Fix RabbitMQ connection leaks
  src/HealthChecks.Rabbitmq/DependencyInjection/RabbitMQHealthCheckBuilderExtensions.cs
  src/HealthChecks.Rabbitmq/HealthChecks.Rabbitmq.csproj
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheck.cs
  src/HealthChecks.Rabbitmq/RabbitMQHealthCheckOptions.cs
Labels: bugfix, rabbitmq
